<!-- Must be added to the head node -->
<!--[if lte IE 8]>
    <script type="text/javascript" src="/assets/js/vendor/ie.support/json3.min.js"></script>
<![endif]-->

<!--[if lte IE 8]>
<script type="text/javascript">
    //See angular docs about supporting ie8
    //http://docs.angularjs.org/guide/ie
    document.createElement('assessmentItem');
    document.createElement('prompt');
    document.createElement('sup');
    document.createElement('feedbackInline');
    document.createElement('choiceInteraction');
    document.createElement('orderInteraction');
    document.createElement('simpleChoice');
    document.createElement('textInteraction');
    document.createElement('extendedTextInteraction');
    document.createElement('itemBody');
    document.createElement('cs-tabs');
    document.createElement('cs-tab');
    document.createElement('resource');
    document.createElement('csTab');
    document.createElement('csTabs');
    //alert('written directives');
</script>
<![endif]-->


