<!-- Must be added to the head node -->
<!--[if lte IE 8]>
<script type="text/javascript" src="/assets/js/vendor/ie.support/json3.min.js"></script>

<script type="text/javascript">
    //See angular docs about supporting ie8
    //http://docs.angularjs.org/guide/ie
    document.createElement('assessmentItem');
    document.createElement('assessmentitem');
    document.createElement('prompt');
    document.createElement('sup');
    document.createElement('feedbackInline');
    document.createElement('feedbackinline');
    document.createElement('feedbackBlock');
    document.createElement('choiceinteraction');
    document.createElement('choiceInteraction');
    document.createElement('orderInteraction');
    document.createElement('simpleChoice');
    document.createElement('textInteraction');
    document.createElement('extendedTextInteraction');
    document.createElement('selectTextInteraction');
    document.createElement('focusTaskInteraction');
    document.createElement('focusChoice');
    document.createElement('itembody');
    document.createElement('itemBody');
    document.createElement('cs-tabs');
    document.createElement('cs-tab');
    document.createElement('resource');
    document.createElement('csTab');
    document.createElement('csTabs');
    document.createElement('line');
    document.createElement('numberedLines');
    //alert('written directives');

    if (!Array.prototype.indexOf)
    {
        Array.prototype.indexOf = function(elt /*, from*/)
        {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0) ? Math.ceil(from) : Math.floor(from);

            if (from < 0)
                from += len;

            for (; from < len; from++)
            {
                if (from in this && this[from] === elt)
                    return from;
            }
            return -1;
        };
    }

     if (!window.console) console = {log: function() {}};

</script>
<![endif]-->


