<br/>
<div class="pull-right">
    <img ng-show="itemData.licenseType" ng-src="/assets/images/licenseTypes/{{itemData.licenseType}}.png"/>
</div>
<div class="form-horizontal">
    @web.views.html.partials._viewItem._item( "Item Title", "<div>{{itemData.title}}</div>")
    @web.views.html.partials._viewItem._item( "Key Words", "<div>{{itemData.keySkills}}</div>")
    @web.views.html.partials._viewItem._item( "Demonstrated Knowledge", "<div>TODO</div>")
    @web.views.html.partials._viewItem._item( "Aligned Standards", "<div ng-repeat='s in itemData.standards'>{{s.dotNotation}}</div>")
    @web.views.html.partials._viewItem._item( "Grade", "<div ng-repeat='gl in itemData.gradeLevel'>{{gl}}</div>")
</div>

