<div class="container profile">
    <div class="item-type">Task</div>
    <br/>


    <table>

        <tr>
            <td class="key-label">Grade</td>
            <td class="key-value">
                <span ng-show="!itemData.gradeLevel"
                      style="color: #888; font-style: italic;">Not Assigned</span>
                {{itemData.gradeLevel[itemData.gradeLevel.length - 1]}}
            <td class="key-label">CCSS</td>
            <td class="key-value">
                <span ng-show="!itemData.standards" style="color: #888; font-style: italic;">Not Assigned</span>
                <a style="margin-right: 7px;" ng-repeat="s in itemData.standards" ui-jq="tooltip"
                   ui-options="{title: s.standard}">{{s.dotNotation}}</a>
            </td>
        </tr>

    </table>

    <p class="title" ng-bind-html-unsafe="itemData.title"/>

    <table>
        <tr>
            <td class="key-label">Primary Subject</td>
            <td class="key-value">{{itemData.primarySubject.category}}</td>
            <td class="key-label">Related Subject</td>
            <td class="key-value">{{itemData.relatedSubject.category}}</td>
        </tr>
        <tr>
            <td class="key-label">Item Type</td>
            <td class="key-value">{{itemData.itemType}}</td>
            <td class="key-label">Key Skills</td>
            <td class="key-value">{{itemData.keySkills.join(', ')}}</td>
        </tr>
        <tr>
            <td class="key-label">Bloom's</td>
            <td class="key-value">{{itemData.bloomsTaxonomy}}</td>
            <td class="key-label">Demonstrated Knowledge</td>
            <td class="key-value"><span ng-show="!itemData.demonstratedKnowledge"
                                        style="color: #888; font-style: italic;">Not Assigned</span>

                <div>{{itemData.demonstratedKnowledge}}</div>
            </td>
        </tr>

        <tr>
            <td colspan="4">
                <hr class="element-separator"/>
            </td>
        </tr>


    </table>


</div>
