<br/>
<div class="form-horizontal">
    @web.views.html.partials._viewItem._item( "Contributor", "<div>{{itemData.contributor}}</div>")
    @web.views.html.partials._viewItem._item( "Copyright Owner", "<div>TODO</div>")
    @web.views.html.partials._viewItem._item( "Author", "<div>{{itemData.author}}</div>")
    @web.views.html.partials._viewItem._item( "Credentials", "<div>{{itemData.credentials}}</div>")
    @web.views.html.partials._viewItem._item( "Source URL", "<div>{{itemData.sourceUrl}}</div>")
    @web.views.html.partials._viewItem._item( "Prior Use", "<div>{{itemData.priorUse}}</div>")
    @web.views.html.partials._viewItem._item( "Reviews passed", "<div>{{itemData.reviewsPassed}}</div>")
    @web.views.html.partials._viewItem._item( "Difficulty Level", "<div>{{itemData.pValue}}</div>")
    @web.views.html.partials._viewItem._item( "Lexile Score", "TODO")
</div>
