<br/>
<div class="form-horizontal">
    <div class="hero-unit item-preview-hero-unit-two">
       <table class="item-preview-table" cellpadding="7" style="width: 100%">
          <tr>
            <th>Contributor</th>
              <th>Copyright Owner</th>
              <th>Author</th>
              <th>Credentials</th>
              <th>Source</th>
          </tr>
           <tr>
               <td>{{itemData.contributor}}</td>
               <td>{{itemData.copyrightOwner}}</td>
               <td>{{itemData.author}}</td>
               <td>{{itemData.credentials}}</td>
               <td><a ng-href="{{itemData.sourceUrl}}" target="_blank">URL</a></td>
           </tr>
           <tr>
               <td colspan="5">&nbsp;</td>
           </tr>

            <tr>
                <th>Prior Use</th>
                <th>Reviews Passed</th>
                <th>Difficulty Level</th>
                <th>Lexile Score</th>
                <th></th>
            </tr>
            <tr>
                <td>{{itemData.priorUse}}</td>
                <td>{{itemData.reviewsPassed}}</td>
                <td>{{itemData.pValue}}</td>
                <td>{{itemData.lexile}}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
