<!doctype html>
<html>
<head>
    <title>Remote Item Runner</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="scormfunctions.js"></script>
    <script type="text/javascript">


    $(document).ready(function(){

        var iframe = document.getElementById('iframeHolder').contentWindow;

        $("#sendMessage").click(function(){
           iframe.postMessage('message from the runner -> iframe', '${corespringDomain}' )
        });
    });


    function onBodyLoad() {
        startTimeStamp = new Date();
        ScormProcessInitialize();

        var completionStatus = ScormProcessGetValue("cmi.completion_status", true);
        if (completionStatus == "unknown"){
            ScormProcessSetValue("cmi.completion_status", "incomplete");
        }

        console.log( ScormProcessGetValue("cmi.completion_status"));
    }

    window.addEventListener('message', messageHandler, true);

    function messageHandler(e) {
        if(e.origin !== '${corespringDomain}') return;

        alert('remote-runner ' + e.data + ' ' + e.origin);
    }

    </script>
</head>
<body onload="onBodyLoad()">

    <a id="sendMessage">Send message</a>

    <iframe id="iframeHolder" src="${corespringDomain}${scormPlayerUrl}" width="600"></iframe>

</body>
</html>
