*.iml
*.list
.DS_Store
.ensime*
.heroku-helper-env.conf
.heroku-helper-temp-data.json
.heroku-helper-tmp-*
.history
.idea
.idea_modules
.run-*
atlassian-*
aws.zip
deployment/.env_vars.sh
dist
logs
mongo-migrator.log
project/project
project/scoverage.sbt
project/target
staging.env
target
tasks/mock-data-task/project
tasks/mock-data-task/target
tmp
deploy.sh
*.env
