<div class="sub-nav sub-nav-lower">
</div>
<div class="item-content-container">
    <div class="createNewItemPanel">
        <div>
            <h4>Select Collection</h4>
            <select style="max-width: 140px;" ng-options="collection.name for collection in collections"
                ng-model="selectedCollection">
            </select>

        </div>

        <div>
            <h4>Select Template</h4>
            <select style="max-width: 140px;" ng-options="template.label for template in templates"
                    ng-model="selectedTemplate">
            </select>

        </div>

        <button class="btn btn-primary" ng-disabled="!selectedCollection || !selectedTemplate" ng-click="createItem()">Create</button>

    </div>
</div>

