<div ui-modal ng-model="showConfirmDestroyModal" style="padding: 20px">
    <h2>Delete Item</h2>
    <br/>

    <p>Are you sure? This can't be undone.</p>

    <button ng-click="deleteConfirmed()" class="btn btn-danger">Yes</button>
    <button class="btn btn-info" ng-click="deleteCancelled()">No</button>
</div>
<div ui-modal ng-model="collectionsWindow" style="padding: 20px" ng-controller="CreateCollection">
    <div class="modal-header create-collections">
        <span class="close-window-button" style="display: inline-block;" ng-click="closeCollectionWindow()"></span>
        <div class="header"><h4>orgname Collections</h4></div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>Collection</th>
            <th># of items</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="collection in collections">
                <td><div contenteditable collection-id="{{collection.id}}" collection-name="collection.name"></div></td>
                <td>0</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-class="{'window-up': showPopup}">
    <div class="window-overlay">
        <div class="window" style="top: 50px; display: block;" onclick="var event = arguments[0] || window.event; event.stopPropagation();">
            <a class="focus-dummy" href="#"></a>
            <div class="window-wrapper clearfix" style="">
                <div class="clearfix">
                    <div id="preloader" class="preloader" style="height: 600px">
                    </div>
                    <span profile-player="" id='player' style="display: block; width: 100%; min-height: 400px" item-id="{{previewingId}}" on-item-load="onItemLoad()" style='display: none'/>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="navbar-filter navbar-filter-top">

        <table class="filter-nav">
        <tbody>
        <tr>
            <td>
                <span multi-select
                  multi-get-title="getCollectionTitle"
                  multi-options="collections"
                  multi-change="search"
                  multi-uid="id"
                  multi-model="searchParams.collection">
                  <div class="summary">
                    <div class="multi-title-text collection"> COLLECTION <span ng-class="{true:'caret',false:'caret-right'}[showChooser]"></span></div>
                    <div class="selected-multi-options collection" ng-bind-html-unsafe="getCollectionSelectedTitle(selected)"></div>
                  </div>
                </span>
            </td>
            <td class="nav-vr"><div></div></td>
            <td>
                <span multi-select
                  multi-get-title="getContributorTitle"
                  multi-options="contributors"
                  multi-change="search"
                  multi-uid="name"
                  multi-model="searchParams.contributor">
                  <div class="summary">
                    <div class="multi-title-text collection"> CONTRIBUTOR <span ng-class="{true:'caret',false:'caret-right'}[showChooser]"></span></div>
                    <div class="selected-multi-options collection" ng-bind-html-unsafe="getContributorSelectedTitle(selected)"></div>
                  </div>
                </span>
            </td>
            <td class="nav-vr"><div></div></td>
            <td class="grade-level-chooser">
                <span multi-select
                  multi-get-title="getTitle"
                  multi-get-selected-title="getSelectedTitle"
                  multi-options="gradeLevelDataProvider"
                  multi-change="search"
                  multi-model="searchParams.gradeLevel">
                  <div class="summary">
                    <div class="multi-title-text grade-level">GRADE LEVEL<span ng-class="{true:'caret',false:'caret-right'}[showChooser]"></span></div>
                    <div class="selected-multi-options grade-level" ng-bind-html-unsafe="getSelectedTitle(selected)"></div>
                  </div>
                </span>
            </td>
            <td class="nav-vr"><div></div></td>
            <td>
                <span multi-select
                  multi-get-title="getLabel"
                  multi-get-selected-title="getSelectedTitle"
                  multi-options="flatItemTypeDataProvided"
                  multi-change="search"
                  multi-model="searchParams.itemType">
                  <div class="summary">
                    <div class="multi-title-text grade-level">TYPE<span ng-class="{true:'caret',false:'caret-right'}[showChooser]"></span></div>
                    <div class="selected-multi-options grade-level" ng-bind-html-unsafe="getSelectedTitle(selected)"></div>
                  </div>
                </span>
            </td>
            <td class="nav-vr" ng-show="isRoot"><div></div></td>
            <td ng-show="isRoot">

                <span multi-select
                  multi-get-title="getLabel"
                  multi-options="statuses"
                  multi-change="search"
                  multi-model="searchParams.statuses">
                  <div class="summary">
                    <div class="multi-title-text collection"> WORKFLOW <span ng-class="{true:'caret',false:'caret-right'}[showChooser]"></span></div>
                    <div class="selected-multi-options collection" ng-bind-html-unsafe="getSelectedTitle(selected)"></div>
                  </div>
                </span>
            </td>
            <td class="nav-vr" ng-show="isRoot"><div></div></td>
            <td ng-show="isRoot">

                <span multi-select
                      multi-get-title="getLabel"
                      multi-options="publishStatuses"
                      multi-change="search"
                      multi-model="searchParams.publishStatuses"
                      ng-show="isRoot">
                  <div class="summary">
                      <div class="multi-title-text collection"> STATUS <span ng-class="{true:'caret',false:'caret-right'}[showChooser]"></span></div>
                      <div class="selected-multi-options collection" ng-bind-html-unsafe="getSelectedTitle(selected)"></div>
                  </div>
                </span>
            </td>
            <td class="nav-vr"><div></div></td>
            <td>

                <input placeholder="Search" ng-model="searchParams.searchText" ng-change="search() " class="input-small"
                       id="appendedInputButtons"
                       size="16" type="text"><span class="add-on"><i class="icon-search"></i></span>
            </td>
        </tr>
        </tbody>
        </table>
    </div>

<div class="row" style="padding-top: 90px">
    <div class="container" style="margin-left: 74px; width: 960px;" when-scrolled="loadMore()" watch="itemDataCollection">
        <table class="table content-sort">
            <thead>
            <tr>
                <th sort-column-header field="title" >Title</th>
                <th>Primary Subject</th>
                <th sort-column-header field="gradeLevel">Grade</th>
                <th sort-column-header field="itemType">Item Type</th>
                <th>Standard(s)</th>
                <th sort-column-header field="contributor">Source</th>
                <th sort-column-header field="published">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items" style="cursor: pointer;">
                <td class="new-window" ng-click="itemClick()" ng-bind-html-unsafe="item.title"></td>
                <td class="new-window" ng-click="itemClick()" width="100">{{getPrimarySubjectLabel(item.primarySubject)}}</td>
                <td class="new-window" ng-click="itemClick()">
                    {{showGradeLevel()}}
                </td>
                <td class="new-window" ng-click="itemClick()">{{showItemType(item)}}</td>
                <td class="new-window" ng-click="itemClick()">
                    <a ui-jq="tooltip"
                       ui-options="{title: buildStandardTooltip(item.standards)}">{{buildStandardLabel(item.standards)}}</a>
                </td>
                <td class="new-window" ng-click="itemClick()">{{getAuthorAbbreviation(item.contributor)}}</td>
                <td class="new-window" ng-click="itemClick()">{{publishStatus(item.published)}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>