<div ui-modal ng-model="showConfirmDestroyModal" style="padding: 20px">
    <h2>Delete Item</h2>
    <br/>

    <p>Are you sure? This can't be undone.</p>

    <button ng-click="deleteConfirmed()" class="btn btn-danger">Yes</button>
    <button class="btn btn-info" ng-click="deleteCancelled()">No</button>
</div>

<div class="sub-nav sub-nav-lower">
    <div class="container" style="width: 940px;">
        <div class="row navbar">
            <div class="input-append span4" style="margin-left: 10px">
                <input placeholder="Search" ng-model="searchParams.searchText" ng-change="search() " class="input-small"
                       id="appendedInputButtons"
                       size="16" type="text"><span class="add-on"><i class="icon-search"></i></span>

                <select style="max-width: 140px;" ng-options="collection.name for collection in collections"
                        ng-model="searchParams.collection"
                        ng-change="search()">
                    <option value="">All Collections</option>
                </select>
            </div>
            <div style="padding-top: 5px;">
            <label class="inline" style="float:left;">Status:&nbsp;</label>

                <input class="cb" type="checkbox" ng-model="searchParams.setup" ng-change="search()">
                <label>Set up</label>

                <input class="cb" type="checkbox" ng-model="searchParams.tagged" ng-change="search()">
                <label>Tagged</label> 
           
                <input class="cb" type="checkbox" ng-model="searchParams.standardsAligned" ng-change="search()">
                <label>Standards aligned</label>

                <input class="cb" type="checkbox" ng-model="searchParams.qaReview" ng-change="search()"> 
                <label>QA</label>
                
                <input class="cb" type="checkbox" ng-model="searchParams.exactMatch" ng-change="search()">
                <label>Exact Match</label>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 90px">
    <div class="container" style="width: 960px;" when-scrolled="loadMore()" watch="itemDataCollection">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Primary Subject</th>
                <th>Grade</th>
                <th>Item Type</th>
                <th>Standard(s)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items" style="cursor: pointer;">
                <td ng-click="openEditView()" ng-bind-html-unsafe="item.title"></td>
                <td ng-click="openEditView()" width="100">{{getPrimarySubjectLabel(item.primarySubject)}}</td>
                <td ng-click="openEditView()">
                    {{showGradeLevel()}}
                </td>
                <td ng-click="openEditView()">{{showItemType(item)}}</td>
                <td ng-click="openEditView()">
                    <a ui-jq="tooltip"
                       ui-options="{title: buildStandardTooltip(item.standards)}">{{buildStandardLabel(item.standards)}}</a>
                </td>
                <td>
                    <button class="btn btn-danger btn-mini" href="javascript:void(1)" ng-click="deleteItem(item)">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>