.tooltiptable {
    background-color: white;
    width: 100%;
    margin: 0px;
    line-height: 50%;
    font-size: 11px;
}


.tooltiptable th {
    background-color: #888;
    text-align: center;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

.tooltiptable td {
    border-right: none;
    border-left: none;
    text-align: center;
}

.tooltip-inner {
    color: #000;
    padding: 0px;
    background-color: #fff;
    border-radius: 0px;
    margin-top: 10px;
    border: 1px solid black;
}

.tooltip.in {
    opacity: 1;
    padding: 0px;
}

.tooltip.bottom .tooltip-arrow {
    top: 5px;
}
