.multi-select {
  position: absolute;
  z-index: 100003;
  .no-items {
    cursor: pointer;
    margin: 15px;
  }

  .items {
    margin: 15px;
    cursor: pointer;
  }

  .chooser {
    position: absolute;
    min-width: 60px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    ul {
      margin: 0px;
      padding: 0px;
    }

    li {
      list-style: none;
      margin: 0px;
    }
  }
}
