pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; background-color: black; color: #d3d3d3;}
.string { color: #add8e6; }
.number { color: #ffa07a; }
.boolean { color: #90ee90; }
.null { color: #ffb6c1; }
.key { color: #f08080; }