@(itemId: String, scripts:List[String], itemBody: String)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="qti">
<head>
    <title>@itemId</title>

    <!--[if lte IE 8]>
        <script type="text/javascript" src="/assets/js/vendor/ie.support/json3.min.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script type="text/javascript">
        document.createElement('assessmentItem');
        document.createElement('prompt');
        document.createElement('sup');
        document.createElement('feedbackInline');
        document.createElement('choiceInteraction');
        document.createElement('orderInteraction');
        document.createElement('simpleChoice');
        document.createElement('textInteraction');
        document.createElement('extendedTextInteraction');
        document.createElement('itemBody');
    </script>
    <![endif]-->


    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic' rel='stylesheet' type='text/css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-resource.js"></script>
    <!-- TODO selectively include scripts based on elements to render -->
    <link rel="stylesheet" type="text/css" href="/assets/js/corespring/qti/cs-qti-styles.css"/>
    <script src="/assets/js/corespring/qti/app.js"></script>
    <script src="/assets/js/corespring/qti/qtiServices.js"></script>
    <script src="/assets/js/corespring/qti/feedbackInline.js"></script>

    @for(script <- scripts) {
        @Html(script)
    }




     <!--
    <base href="/tagger/files/@itemId/" target="_blank" />
    -->
</head>
<body ng-controller="QtiAppController">
    <div class="assessmentPage">
        @Html(itemBody)
    </div>

</body>
</html>