@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@title</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>

</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/web"> <img src="/assets/images/cs-white-logo-11px.png" alt="Corespring Content Tagger"/></a>
        </div>
    </div>
</div>


<!--main contents area starts here -->
<div class="main-wrap">
    @content
</div>

</body>
</html>





