@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@main("Signup") {
    <div class="container" style="width: 960px;">
        <div style="position: relative; top: 100px; width:500px;">
            <h3>Developer Registration</h3>
            <p class="lead">To register for a developer account, enter your email address below. An email will be sent to you with a link
            to complete your registration.</p>
        </div>
        <div class="well" style="position: relative; top: 100px; width:500px;">

        @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }



    <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off" method="post"
    >
        <fieldset>
            @helper.inputText(
            startForm("email"),
            '_label -> Messages("securesocial.signup.email1"),
            'class -> "input-xlarge"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
                <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
            </div>

        </fieldset>
    </form>

            <h6>Or login with: </h6>
            @securesocial.views.html.provider("twitter")
            @securesocial.views.html.provider("google")

    </div>
    </div>
}