@(user: securesocial.core.SocialUser, token: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
<html>
<body>
<p>Hello @user.firstName,</p>

<p>A request was made to reset the password for this email address on CoreSpring.org</p>

<p>Please follow this
    <a href="@securesocial.core.providers.utils.RoutesHelper.resetPassword(token).absoluteURL(IdentityProvider.sslEnabled)">
    link</a> to reset your password on CoreSpring.org.
</p>
<p>
    Kind regards,<br/>
    CoreSpring team
</p>

</body>
</html>