@(user: securesocial.core.Identity, token: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
<html>
<body>
<p>Hello @user.firstName,</p>

<p>A request was made to reset the password for this email address on CoreSpring</p>

<p>Please follow this
    <a href="@securesocial.core.providers.utils.RoutesHelper.resetPassword(token).absoluteURL(IdentityProvider.sslEnabled)">
    link</a> to reset your password on CoreSpring.
</p>
<p>
    Kind regards,<br/>
    CoreSpring Team
</p>

</body>
</html>