@(params: _root_.player.views.models.PlayerParams, quizId:String, resultSourcedId:String)

@scripts = {

  @player.views.html.partials.angularConfig(params, ("quizId" -> quizId), ("resultSourcedId" -> resultSourcedId) )
  <!-- need to override the config to add the Lti Params
  <script type="text/javascript">
    angular.module('qti.services').factory('Config', [function(){
        return {
        }
    }]);
  </script>
  -->
}

@bodyAttributes = @{ "ng-controller='QtiAppController'" }
@afterBody = {
    <!-- Init the LtiController -->
    <div ng-controller="LtiController"></div>
}

@_root_.player.views.html.basePlayer( params, bodyAttributes, Some(scripts), Some(afterBody) )