@( itemBody: String, itemId: String, sessionId : String, token : String, configId: String, resultSourcedId:String )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="qti">
<head>
    <title>@itemId</title>
    @common.views.html.partials.ieEightSupport()
    @testplayer.views.html.partials.scripts(itemBody)
    <script type="text/javascript">
        angular.module('qti.services').factory('Config', [function(){
            return {
                itemId : "@itemId",
                sessionId : "@sessionId",
                configId: "@configId",
                resultSourcedId: "@resultSourcedId",
                token : "@token"
            }
        }]);
    </script>
    <script src="/assets/js/corespring/qti/controllers/QtiAppController.js"></script>
    <script src="/assets/js/corespring/qti/controllers/LtiController.js"></script>

</head>
<body ng-controller="QtiAppController">
<div ng-controller="LtiController"></div>
<div style="padding:20px; max-width: 650px;" ng-class="{true: 'fade-out', false: ''}[settingsHaveChanged]">
    @Html(itemBody)
</div>
</body>
</html>