@charset "utf-8";
/* CSS Document */
/* -------------------------------------------------
VERSION 7.6 10-1-2012 2:54pm
---------------------------------------------------- */


/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 LICENSE: Public Domain*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Getting the app-specific tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video, prompt, choicePrompt {
    display:block;
    margin:0;
    padding:0;
}
/*-------------------------------------------------------------------------------------------*/
/*TESTING ONLY (REMOVE FOR PRODUCTION) */
/*-------------------------------------------------------------------------------------------*/
/*This element is just for testing. It styles the HR that goes between items.
In production, there will only be one item per page. */
hr.item-seperator {
    background: #95C444;
    height:1px;
    background-color:#0FF;
    border:none;
    color:#0FF;
    margin:20px 0;
}
/*Main-wrapper for testing*/
.main-wrapper {
    margin:0 auto;
    width:800px;
    overflow:hidden;
}
/*Main Content wrapper for testing*/
.main-content {
    width:640px;
    margin:20px;
    padding:20px;
    border:2px #EAEAEA dashed;
}
.main-wrapper .container-center {
    width:640;
    margin:20px;
    padding:20px;
    border:none;
}
/*-------------------------------------------------------------------------------------------*/
/*  SETUP */
/*-------------------------------------------------------------------------------------------*/
body {
    font-family:"Ubuntu", Arial, Helvetica, sans-serif;
    color:#333;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size:20px;
    margin-bottom:15px;
}
h2 {
    font-size:18px;
    padding-bottom:4px;
    margin-bottom:12px;
}
h2.horizontal-line {
    width:100%;
    border-bottom:1px #CCCCCC solid;
    padding-bottom:4px;
    margin-bottom:12px;
}
h3 {
    font-size:16px;
    padding:0 0 15px;
}
h4 {
    font-size:14px;
    padding:0 0 18px;
}
p {
    margin: 0 0 0 20px;
    font-size:14px;
    line-height:20px;
    padding:0 0 18px;
}
/* Indent of small text fields*/
span p input, span p. span input {
    margin-left:20px;
}
/*input items (checkboxes, radio buttons, inine text items etc) */
input[type="text"] {
    margin:0 8px 0 3px;
    font:14px "Ubuntu", Arial, Helvetica, sans-serif;
}
input[type="text"]:focus, textarea:focus {
    border-color:rgba(161, 225, 23, 0.8);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(161, 225, 23, 0.8);
    outline:0 none;
}
a:focus, .btn:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, select:focus {
    outline:5px auto rgba(161, 225, 23, 0.8);
}
.prompt, .choice-prompt, prompt, .choicePrompt, .item-stem, p.prompt, span.choice-prompt, p.prompt, span p.prompt, resource.ng-scope prompt, span.choice-prompt, .choice-interaction prompt {
    font:14px/20px "Ubuntu", Arial, Helvetica, sans-serif !important;
    padding:0 0 18px;
    margin:0;
}
/* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
    -ms-interpolation-mode: bicubic;
}
/*-------------------------------------------------------------------------------------------*/
mark, rp, rt, ruby, summary, time {
    display:inline
}
/*-------------------------------------------------------------------------------------------*/
/* TEXT FORMATTING */
/*-------------------------------------------------------------------------------------------*/
math, .mathml, div.math-choices simplechoice, .math-text, .MathJax {
    font-family:"Times New Roman", Times, serif;
    font-size: 15px;
}
/* MULTIPLE CHOICE */
.choice-interaction {
    display: block;
    margin:15px 0 30px 0;
    color:#333;
    font-size:14px;
}

.choiceInput, .choice-content {
    display: table-cell;
    vertical-align: middle;
    color:#333;
}
.choice-content {
    line-height:20px;
}
.choiceInput {
    padding:0 8px 0 0;
}
.choice-interaction input[type="checkbox"], .choice-interaction input[type="radio"] {
    margin:0 0 0 1px;
}
.correct-response {
    color: #95C444;
}
.feedbackinline {
    color: #333;
    padding-left: 10px;
    font-size: 14px;
}
input[type="submit"] {
    display:block;
    margin:20px 0 10px auto;
}
blockquote p span input.ng-pristine {
    margin:none;
}
.incorrectSelection, .incorrect-selection {
    color: #F8A31A;
}
.orderIncorrect {
    border-color:#F8A31A;
}

/* For Feedback Blocks (10-1) */
.feedback-block-correct, .feedback-block-incorrect {
    line-height: 21px;
    min-height: 21px;
    padding: 0px 0px 0px 30px;
}

.feedback-block-correct {
    background: url("/assets/images/correct-icon.png") no-repeat scroll 0px 50% transparent;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #53C516;
    margin: 15px;
    outline: 0px none;
    padding: 10px 10px 10px 30px;
}

.feedback-block-incorrect {
    background: url("/assets/images/wrong-icon.png") no-repeat scroll 0px 50% transparent;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #F8A31A;
    margin: 15px;
    outline: 0px none;
    padding: 10px 10px 10px 30px;
}



/* 9/27 Formatting for new Inline feedback. Also made answers display as block.*/
.incorrect-selection .choice-interaction simplechoice.ng-scope div.choice-content feedbackinline,
.correct-response .choice-interaction simplechoice.ng-scope div.choice-content feedbackinline.ng-scope {
    display:block;
    padding:5px 0 10 15 !important;
}

.incorrect-selection feedbackinline.ng-scope span.feedbackinline, .correct-response feedbackinline.ng-scope span.feedbackinline {
    font-size:12px !important;
}

/* -------------------------------------
TEXT ELEMENTS
---------------------------------------- */
.intro, div.intro {
    font-family: 'Ubuntu';
    font-style:italic;
    font-size:14px;
    line-height:20.4px;
    color:#333;
    font-style:italic;
    padding:0 0 23px 0;
    margin:0;
}
.intro-2 {
    line-height:18px;
    font-size:14px;
    margin:0;
    color: #333;
}
/* Required for line numbering */
p .numbers {
    float:left;
    text-align:right;
    white-space:nowrap;
}
.numbered-wrapper p {
    line-height: 23px;
}
/* Required for Paragraph Numbering */
.p-list {
    padding:0;
    margin:0;
    counter-reset:section;
    font-size:14px;
    line-height:18px;
}
.p-list li {
    padding:0 0 18px 30px;
    list-style:none;
    position:relative;
}
.p-list li:before {
    content:counter(section);
    counter-increment:section;
    font-size:14px;
    line-height:18px;
    position:absolute;
    top:2px;
    left:0;
    width:20px;
    height:18px;
    text-align:right;
    color:#333;
}
.educator-message {
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    color:#999;
    font-style:italic;
    margin:20px 0;
    padding:5px;
}
.p-list p {
    padding:0;
}
.leading-150-percent {
    line-height:28px;
}
.leading-200-percent {
    line-height:38px;
}
/* The correct selector for text is .para-center. The rest of these variations were observed in the files */
div.text-centered, div.para-center, div.center, .center, center, .text-centered, .para_center .para-center {
    text-align:center;
}
div.floated-para {
    font-size:14px;
    line-height:18px;
    padding-bottom:25px;
}
.floated-para .img-right {
    float:right;
    width:200px;
    margin:26px;
}
.author-name, .passage-author, .passage_author, .passage-byline {
    display: block;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding-bottom:20px;
    margin-top:-5px;
}
.passage-subtitle/*mcas*/ {
    display: block;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color:#000;
    margin:0;
}
/*----------------------------
TEXT BOXES
------------------------------*/
textarea {
    width:96%;
    margin:0 0 30px;
    border:1px solid #797979;
    -moz-box-shadow:inset 0 0 8px #d1d1d1;
    -webkit-box-shadow:inset 0 0 8px #d1d1d1;
    box-shadow:inset 0 0 8px #d1d1d1;
    padding:7px;
    text-align:left;
    font:14px 'Ubuntu', Arial, Helvetica, sans-serif;
    color:#333;
    resize:none;
}
textarea.answer-1-linebox, answer-1-linebox {
    height:26px;
    padding:10px 7px 0 7px;
    line-height:12px;
}
textarea.answer-5-linebox {
    height:95px;
}
textarea.answer-5-linebox-1 {
    height:95px;
    margin-bottom:40px;
}
textarea.answer-10-linebox {
    height:180px;
}
textarea.answer-15-linebox {
    height:285px;
}
textarea.answer-20-linebox {
    height:380px;
}
.passage-author/*mcas*/ {
    display: block;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin-top: -5px;
    font-size:16px;
}
/* FOOTNOTES AND COPYRIGHT */
.note-tip {
    border-top:1px #999 solid;
    padding:5px 0 0 0;
    margin:10px 0 0 0;
    font-size:11px;
    display:inline-block;
}
div.copyright, div.image-copyright, div.image_copyright {
    position:relative;
    top:-30px;
    margin-bottom:20px;
    font-size:11px;
    text-align:center;
    display:block;
}
/*----------------------------
CONTAINERS AND IMAGES
------------------------------*/
.imagewrapper-200, .imagewrapper-400, .imagewrapper-600, .imagewrapper, .image-wrapper {
    margin:0 auto 37px;
    padding:0;
    overflow:hidden;
    text-align:center;
}
.img-left {
    margin-left:20px;
    text-align:left;
}
.imagewrapper-200, .imagewrapper-200 img {
    max-width:200px;
}
.imagewrapper-400, .imagewrapper-400 img {
    max-width:400px;
}
.imagewrapper-600, .imagewrapper-600 img {
    max-width:600px;
}
p img, .imagewrapper img, .image-wrapper img {
    max-width:600px;
}
p .img-right {
    float: right;
    margin:5px 0 26px 26px;
    max-width: 300px;
}
.para-left/*mcas*/ {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px;
    text-align: left;
}
/* Multiple Choice Set */
.choiceInteraction {
    display: block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-top: 15px;
}
.sortable-body {
    list-style-type:none;
    margin-left:20px;
}
.sortable-item {
    background-color:#eee;
    border-radius:8px;
    border:1px solid #333;
    cursor:move;
    display:inline-block;
    margin-bottom:0.4em;
    padding:8px;
}
.orderCorrect {
    border: 2px solid #95C444;
}
.orderIncorrect {
    border: 2px solid #F8A31A;
}
/*----------------------------
LISTS AND TABLES
------------------------------*/

/* LIST ITEMS*/
ol, ul {
    padding:0;
    margin:0 0 20px 35px;
    list-style:none;
    font-size:14px;
    line-height:18px;
    position:relative;
}
ol li {
    list-style:decimal;
    font-size:14px;
    padding:0 0 10px;
}
ul li {
    list-style:disc;
    padding:0 0 10px;
}
/* LIST TYPES */
.list-upper-roman li {
    list-style-type:upper-roman;
}
.list-lower-roman li {
    list-style-type:lower-roman;
}
.list-upper-alpha li {
    list-style-type:upper-alpha;
}
.list-lower-alpha li {
    list-style-type:lower-alpha;
}
.list-disc li {
    list-style-type:disc;
}
.list-circle li {
    list-style-type:circle;
}
.list-square li {
    list-style-type:square;
}
ul.list-disc ul li {
    list-style-type:circle;
}
ul.list-disc ul ul li {
    list-style-type:square;
}
/*DEFINITION LISTS*/
dl {
    margin:0 5px 17px;
    overflow:hidden;
    font-size:14px;
    line-height:18px;
    color:#333;
}
dl dt {
    float:left;
    padding:0 10px 0 0;
    width:140px;
    font-weight:bold;
}
dl dd {
    float:left;
    width:400px;
    overflow:hidden;
    margin:0;
    margin-bottom: 10px;
}
input {
    font-size:14px;
}
/* DATA TABLE STYLE */
table {
    border-collapse:collapse;
    line-height:17px;
    color:#333;
    font-size:14px;
    margin:0 0 30px 20px;
}
table th, table td {
    padding:10px 5px;
    border:1px solid #999;
    text-align:center;
    vertical-align:middle;
    min-width:50px;
}
table th {
    background:#333;
    color:#fff;
}
table td a {
    color:#108fc4;
    text-decoration:none;
}
table td a:hover {
    text-decoration:underline;
}
table tfoot td {
    background:#E5E3E3;
}
td.para-left {
    padding:10px 5px;
    border:1px solid #999;
    text-align:left;
    vertical-align:middle;
    min-width:50px;
}
/*----------------------------
TABS
------------------------------*/
.tab-panel {
    margin:0 0 13px;
    position:relative;
    overflow:hidden;
    border-bottom:none;
    padding:0;
}
.tabs {
    padding:0 0 0 5px;
    margin:0;
}
.tabs ul.tabs {
    position:absolute;
    z-index:500;
    top:1px;
}
.tab-panel .tabs li {
    list-style:none;
    display:inline;
}
.tab-panel div.tabs ul {
    margin-bottom: 0;
    margin-left:0;
}
.tab-panel .tabs a {
    font-weight:bold;
    padding:10px;
    display:inline-block;
    background:#4F4F4F;
    color:#dcddde;
    font-size:14px;
    height:20px;
    position:relative;
    top:1px;
    border:1px #999 solid;
    text-decoration:none;
    border-bottom:none;
}
.tab-panel .tabs a.active {
    background:#EFEFEF;
    color:#000;
    border:1px #999 solid;
    border-bottom:none;
}
.tab-panel .tab-box {
    margin:0;
    padding:10px;
    border:1px #999 solid;
    background:#EFEFEF;
}
.tab-box .paragraph-style {
    color:#000;
    padding:20px 5px 5px;
    line-height:18px;
    font-size:14px;
    background:#EFEFEF;
    height:300px;
    overflow-y:scroll;
}
.tab-box .paragraph-style p {
    color: #000;
}
/*-----------------------------------
MISC.
-------------------------------------*/
hr.element-seperator {
    height:1px;
    background-color:#ccc;
    border:none;
    color:#0FF;
    margin:30px 0;
    display:block;
}
/* TABLED TEXT SINGLE COLUMN BOXES - DIVs */
div.text-box-wrapper {
    background-color: #FFF;
    border: 1px solid #999;
    width: auto;
    margin-left: 20px;
}
div.text-box-header {
    background-color: #3B3A3A;
    color: #fff;
    font-weight: bold;
    width: auto;
    padding:5px;
    margin-bottom: 10px;
}
div.text-box-content {
    display: block;
    margin: 0;
    padding-left:15px;
}
/* Borders */
.border-1px {
    border: 1px solid #999999;
    padding:20px;
}
/*Misc. Spacing */
.10px-below {
       margin-bottom:10px;
   }
.20px-below {
       margin-bottom:20px;
   }
.10px-above {
       padding-top:20px;
   }
.20px-above {
       padding-top:20px;
   }
/*-----------------------------------
PROFILE PAGE
-------------------------------------*/
.pager {
    margin-bottom: 0px;
    padding-top: 10px;
}
.pager .pager-progress-bar, .pager .pager-text {
    float: left;
}
.pager .pager-text {
    color: #fff;
    padding-right: 5px;
}
.pager .pager-progress-bar {
    margin: 0;
    width: 50px;
}
.pager .pager-progress-bar .bar {
    width: 100%;
}
@media (min-width: 1200px) {
    .span12, .container {
        width: 1170px;
    }
}
.csTagOn {
    color:#000 ! important;
    cursor: pointer;
    font-size: 20px;
    font-weight:normal;
    line-height: 27px;
    margin-bottom: 18px;
    margin-left: 3px;
    margin-right: 3px;
}
.csTagOff {
    color: #999;
    cursor: pointer;
    line-height: 27px;
    margin-bottom: 18px;
    margin-left: 3px;
    margin-right: 3px;
}
#contentPanel ul.nav {
    margin-bottom: 8px;
}
.item-content-container.editor-active {
    top: 113px;
}
.item-content-container {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 82px;
}
.item-content-container .edit {
    bottom: 0;
    left: 0;
    padding: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.item-content-container .edit .nav {
    margin-bottom: 0;
}
.item-content-container .edit .tab-pane {
    background-color: #fff;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.item-content-container .edit .tab-content {
    background-color: #fff;
    bottom: 0;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    top: 46px;
    width: 100%;
}
.item-content-container .edit.preview-open {
    right: 500px;
}
.item-content-container .preview {
    background-image: url("/assets/images/corrugated-bg.png");
    bottom: 0;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2) inset;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.item-content-container .preview .inner {
    border-left: 1px solid #9B9B9B;
    height: 100%;
    padding: 20px;
}
.item-content-container .preview .preview-container {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    height: 90%;
    overflow: auto;
}
.item-content-container .preview.preview-open {
    width: 500px;
}
.item-content-container .editor-panel {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.item-content-container .editor-panel .code-editor {
    background-color: #fff;
    float: left;
    height: 100%;
    left: 180px;
    position: absolute;
    right: 0;
}
.item-content-container .editor-panel .code-editor.file-list-closed {
    left: 0;
}
.item-content-container .editor-panel .btn-group {
    margin-left: 10px;
}
.item-content-container .editor-panel button {
    margin-left: 0px;
}
.supporting-materials-panel {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.supporting-materials-panel .contents-holder {
    float: left;
    height: 100%;
    left: 180px;
    position: absolute;
    right: 0;
}
.file-list {
    background-color: #F4F3F4;
    border-right: 1px solid #A9A5A9;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1) inset;
    float: left;
    height: 100%;
    width: 179px;
}
.file-list .info {
    padding-left: 10px;
}
.file-list h2 {
    color: #5D585D;
    font-size: 13px;
    padding-left: 10px;
}
.file-list ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding: 5px;
}
.file-list ul li.active a {
    font-weight: bold;
}
.file-list ul li {
    padding: 4px;
}
.file-list.file-list-closed {
    display: none;
    width: 0;
}
.header-wrap {
    background: url("../images/header-wrap-home-bg.jpg") repeat-x scroll center top #DBD9DB;
}
.resource-editor-header {
    background-color: #C2BFC2;
    background-image: -moz-linear-gradient(center top, #EAE9EA, #C2BFC2);
    background-repeat: repeat-x;
    border-bottom: 1px solid #777177;
    height: 20px;
    left: 0;
    padding-bottom:6px;
    padding-top:6px;
    position: fixed;
    right:0;
    top:80px;
    z-index:1001;
}
.resource-editor-header .leave-link:hover {
    opacity: 0.5;
}
.sub-nav {
    background-color: #847D84;
    background-image: -moz-linear-gradient(center top, #433F43, #777177);
    background-repeat: repeat-x;
    border-bottom: 1px solid #504C50;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
    height: 40px;
    left: 0px;
    padding-top: 40px;
    position: fixed;
    width: 100%;
}
.sub-nav label, .sub-nav input, .sub-nav .control-label {
    color: #C2BFC2;
}
.sub-nav .nav {
    margin-bottom: 0;
}
.sub-nav .nav > li > a {
    padding-top: 4px;
}
.sub-nav .container {
    padding: 6px;
    width: 940px;
}
.logout-icon:hover {
    opacity: 0.5;
}
.code-errors {
    bottom: 10px;
    left: 300px;
    position: absolute;
    width: 50%;
    z-index: 10001;
}
.ace_failed {
    background-image: url("/images/x.png");
    background-position: 2px 2px;
    background-repeat: no-repeat;
}
.badge-success {
    background-color: #5F850D;
}
a.tag-list-link {
    float: left;
    padding: 3px;
    text-decoration: none;
}
a.tag-list-link.selected {
    font-weight: bold;
}
.tag-list-header {
    color: #91CA14;
    float: left;
    font-weight: bold;
    padding: 3px;
}
legend {
    border-bottom: 1px solid #CDCDCD;
    line-height:32px;
    margin-bottom:0;
}
button.tight {
    padding-left: 7px;
    padding-right: 7px;
}
.navbar .brand {
    padding-bottom: 0;
    padding-left: 0;
}
.navbar .nav > li > a {
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover {
    color: #A1E117;
}
a {
    color: #4E6D0B;
}
a:hover {
    color: #0C1102;
}
.file-list li.active ul.dropdown-menu li a {
    font-weight: normal;
}
ul.dropdown-menu {
    margin: 2px 0 0;
    min-width:130px;
    padding:2px 0;
}
ul.dropdown-menu li.active a {
    font-weight: normal;
}
ul.dropdown-menu li {
    padding: 2px;
}
ul.dropdown-menu li a {
    font-weight: normal;
    padding: 2px;
}
.navbar-inner {
    background:url("/assets/images/title-wrap-bg-tile-bw.png") repeat scroll 0% 0% #1B1B1B;
    border-bottom:1px solid #1B1B1B;
    border-radius:4px;
    box-shadow:0 0 3px 3px rgba(0, 0, 0, 0.3);
    min-height:0;
    padding-left:20px;
    padding-right:20px;
}
.nav-tabs > li > a:hover {
    background-color: #EBFACA;
}
.btn-success {
    background-color: #80B312;
    background-image: -moz-linear-gradient(center top, #80B312, #62890E);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #5F850D;
}
.btn-success:active, .btn-success.active {
    background-color: #80B312;
}
.btn-primary {
    background-color: #00ACCE;
    background-image: -moz-linear-gradient(center top, #00ACCE, #0086A0);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #00819B;
}
.btn-primary:active, .btn-primary.active {
    background-color: #00ACCE;
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    border:1px solid rgba(161, 225, 23, 0.8);
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
    outline:none;
}
.nav-pills > li > a {
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    margin: 1px 6px 6px;
    padding: 5px;
}
.nav-pills > li > a:hover {
    background-color: #80B312;
    color: #fff;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #80B312;
    color: #fff;
}
.icon-preview {
    background-image: url("/images/preview2.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 28px;
    width: 32px;
}
.icon-preview:hover {
    opacity: 0.6;
}
.icon-preview.preview-open {
    background-image: url("/images/preview2_disabled.png");
}
.icon-file.file-list-open, .icon-file.file-list-closed {
    margin: 4px;
}
.icon-file.file-list-open {
    opacity: 0.5;
}
.navbar .nav > li > a.cs-icon-link {
    background-color:#C2BFC2;
    border-radius:14px;
    color: #999;
    float: none;
    line-height: 19px;
    margin:6px 2px 2px;
    padding:3px 6px;
    text-decoration: none;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a.cs-icon-link:hover {
    background-color: #A9A5A9;
    box-shadow: 0 0 2px 2px rgba(27, 27, 27, 0.15) inset;
}
.grade-circle {
    background-color: #005768;
    border-radius:14px;
    border:1px solid #00424F;
    color:#fff;
    float:left;
    font-size:15px;
    height: 20px;
    line-height:20px;
    margin-right:5px;
    padding:4px;
    position: relative;
    text-align: center;
    width: 20px;
}
.grade-01 {
    background-color: #00A3C4;
    border: 1px solid #008AA5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.grade-02 {
    background-color: #009BBA;
    border: 1px solid #00819B;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.grade-03 {
    background-color: #0092AF;
    border: 1px solid #007991;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0px rgba(0, 0, 0, 0.1) inset;
}
.grade-04 {
    background-color: #008AA5;
    border: 1px solid #007087;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0px rgba(0, 0, 0, 0.1) inset;
}
.grade-05 {
    background: #00819B;
    border: 1px solid #00687C;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0px rgba(0, 0, 0, 0.1) inset;
}
.grade-06 {
    background: #007991;
    border: 1px solid #005F72;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0px rgba(0, 0, 0, 0.1) inset;
}
.grade-07 {
    background: #007087;
    border: 1px solid #005768;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0px rgba(0, 0, 0, 0.1) inset;
}
.grade-08 {
    background: #00687C;
    border: 1px solid #004E5E;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.grade-09 {
    background: #005F72;
    border: 1px solid #004654;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.grade-10 {
    background-color: #005768;
    border: 1px solid #003D49;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.grade-11 {
    background: #004E5E;
    border:1px solid #00353F;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.grade-12 {
    background: #004654;
    border: 1px solid #002C35;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.item-preview-hero-unit {
    background:#F1F5F6;
    border:1px solid #D2DFE1;
    box-shadow:0 0 4px 4px #EBF0F2 inset;
    padding: 20px;
}
.item-preview-hero-unit .h2 {
    color: #DBD9DB;
}
.item-preview-hero-unit-two {
    background: #F2F9E5;
    border: 1px solid #DFEFBB;
    box-shadow:0 0 4px 4px #EEF7DC inset;
    padding: 20px;
}
.item-preview-hero-unit-two .h2 {
    color: #DBD9DB;
}
.item-preview-table tr th {
    text-align: left;
}
.profile {
    width:600px;
}
.iframe-600-centered {
    display:block;
    height:100%;
    margin:0 auto;
    width:600px;
}
/*---------ADDED OR EDITED FOR PROFILE PAGE -------*/
/*edited*/
.profile table {
    border:none;
    color: #333;
    margin-left:0;
    padding-top:10px;
    margin-bottom:0;
}
.profile hr.element-seperator {
    margin-bottom:25px;
    margin-top:15px;
}
/*edited */
.profile td {
    border:none;
    color: #80B312;
    font-weight: bold;
    padding: 5px 5px 20px 5px;
    text-align: left;
    font-size: 14px/20px;
}
/*edited */
.profile td {
    padding: 0 0 20px 0;
}
.profile .item-type {
    background-color: #80B312;
    border-radius:28px;
    border: none;
    box-shadow:0 0 2px 2px rgba(27, 27, 27, 0.15);
    color: #FFFFFF;
    font-size:15px;
    height:40px;
    line-height:38px;
    margin-right:5px;
    margin-top: 40px;
    padding:4px;
    text-align: center;
    width:40px;
    margin-bottom: 30px;
}
/*edited */
.profile .title {
    color: #333;
    margin-left:0;
    padding-bottom:5px;
}
.profile p {
    font-size:14px;
    line-height:20px;
}
.key-value {
    font-weight:normal;
    color:#333;
}
.source {
    border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding:20px 20px 10px 20px;
    width:560px;
    position:relative;
    margin-top: 15px;
}
.container div.copyright-graph p {
    margin:0;
    overflow: hidden;
}
.copyright-logo img {
    max-height: 50px;
    max-width: 140px;
    float:left;
}
.source table {
    border-collapse: collapse;
    line-height: 17px;
    margin:0;
}
p.profile-h1 {
    border-bottom-color: #999999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #80B312;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.profile table.profile-main-info {
    margin-left:20px;
    margin-below:0;
    width:100%;
}
.profile table.profile-source-info {
    width:600px;
}
.col-3 .key-value img {
    position:relative;
    left:4px;
    top:2px
}
/*------END------------ */