@(itemBody:String, qtiAssetLoader : player.views.qti.QtiAssetsLoader)

@common.views.html.head.coreJs()
@common.views.html.head.ubuntu()
@common.views.html.head.bootstrap()
@common.views.html.head.angular()
@common.views.html.head.corespringCommon()

<script type="text/javascript" src="@player.controllers.routes.Session.jsRoutes"></script>

@com.ee.assets.Loader.scripts(
  "js/corespring/qti/app.js",
  "js/corespring/qti/qtiServices.js",
  "js/corespring/qti/directives/DimensionsChecker.js",
  "js/corespring/qti/directives/feedbackInline.js",
  "js/corespring/qti/prototype.extensions/Array.js"
)

@com.ee.assets.Loader.scripts( qtiAssetLoader.localJsPaths : _*)

<!-- qti - remote js -->
@qtiAssetLoader.remoteJsPaths.map{ p =>
<script src="@p" type="text/javascript"></script>
}
<!-- end qti - remote js -->

<!-- qti - local css -->
@qtiAssetLoader.localCssPaths.filter(player.views.qti.fileExists).map{ p =>
   <link rel="stylesheet" type="text/css" href="/assets/@p"/>
}
<!-- end qti - local css -->

<!-- Default Css -->
@Html(common.controllers.DefaultCss.DEFAULT_CSS)
<!-- End default css -->


<!-- Html(QtiScriptLoader.load( itemBody )) -->
