@(params:player.views.models.PlayerParams, qtiAssetLoader : player.views.qti.QtiAssetsLoader)(implicit assetsLoader: org.corespring.web.common.controllers.deployment.AssetsLoader = org.corespring.web.common.controllers.deployment.AssetsLoaderImpl)

@org.corespring.web.common.views.html.head.coreJs()
@org.corespring.web.common.views.html.head.ubuntu()
@org.corespring.web.common.views.html.head.bootstrap()
@org.corespring.web.common.views.html.head.angular()
@common.views.html.head.bootstrapModal()
@org.corespring.web.common.views.html.head.corespringCommon()

<script type="text/javascript" src="@player.controllers.routes.Session.jsRoutes?@params.rawQueryString"></script>

@assetsLoader.playerCommon

<!-- Default Css -->
@Html(org.corespring.web.common.controllers.DefaultCss.DEFAULT_CSS)
<!-- End default css -->

@assetsLoader.loader.scripts("qti-interactions")( qtiAssetLoader.localJsPaths : _*)
@org.corespring.web.common.controllers.deployment.loader.css("qti-interactions")( qtiAssetLoader.localCssPaths : _* )

<!-- qti - remote js -->
@qtiAssetLoader.remoteJsPaths.map{ p =>
<script src="@p" type="text/javascript"></script>
}
<!-- end qti - remote js -->




<!-- Html(QtiScriptLoader.load( params.xml )) -->
