.drag-and-drop-interaction {
    overflow: hidden;
}

.drag-and-drop-interaction ul,
.drag-and-drop-solution-modal ul,
.drag-and-drop-interaction li,
.drag-and-drop-solution-modal li {
    margin: 0px;
    vertical-align: top;
}


.drag-and-drop-interaction .answerContainer {
    padding-top: 5px;
    padding-bottom: 5px;
}

.drag-and-drop-interaction .prompt {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family:"Ubuntu", Arial, Helvetica, sans-serif;
    font: 14px/20px;
    font-weight: bold;
    padding: 16px 0 16px 0;
}

.drag-and-drop-interaction .button-row {
    width: 100%;
    height: 50px;
    margin-top: 6px;
}

.drag-and-drop-interaction .button-row button {
    text-transform: uppercase;
    font-family:"Ubuntu", Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.drag-and-drop-interaction .solution-link {
    color: #4eb7d3;
}

.drag-and-drop-interaction table.csDraggableTiles {
    max-width: 540px;
}

table.csDraggableTiles,
.csDraggableTiles td,
table.csDropTiles,
.csDropTiles td  {
    border: none;
    border-collapse: collapse;
    padding: 0px;
    vertical-align: top;
    margin: 10px 0;
}

.drag-and-drop-solution-modal {
    padding: 10px;
}

.drag-and-drop-interaction .solution-button {
    margin-left: auto;
}

.drag-and-drop-interaction .contentElement,
.drag-and-drop-solution-modal .contentElement
{
    display: inline-block;
    background-color: #999;
    padding: 8px;
    margin: 1px 5px 1px 1px;
    font-size:14px;
    font-family:"Ubuntu", Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
    text-align: center;

}

.drag-and-drop-interaction .contentElement:hover,
.drag-and-drop-solution-modal .contentElement:hover
{
    margin: 0px 4px 0px 0px;
    box-shadow: 0px 0px 5px #000;
    border: 1px solid #333;
    cursor: hand; cursor: pointer;
}

.drag-and-drop-interaction .landing,
.drag-and-drop-solution-modal .landing
{
    border-radius: 4px;
    padding: 3px 3px 3px 3px;
    border: 1px solid #999;
    margin: 5px;
    position: relative;
}

.drag-and-drop-interaction .landing.inline,
.drag-and-drop-solution-modal .landing.inline {
    display: inline-block;
    margin: 0px 5px -10px 0px;
}

.drag-and-drop-interaction .landing.squareChoice,
.drag-and-drop-solution-modal .landing.squareChoice {
    border-radius: 0px;
}

.landing .contentElement {
    text-align: center;
}

.landing .contentElement:hover {
    box-shadow: none;
}

.landing .contentElement {
    background: none;
}

.drag-and-drop-interaction .drop-hover {
    box-shadow: 0px 0px 5px #000;
}

.drag-and-drop-solution-modal .landingLabelHolder,
.drag-and-drop-interaction .landingLabelHolder {
    position: relative;
    top: -10px;
    width: 100%;
    text-align: center;
}

.drag-and-drop-interaction .landingLabel,
.drag-and-drop-solution-modal .landingLabel {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #fff
}

.drag-and-drop-interaction .landing.correct {
    box-shadow: 0px 0px 5px #95C444;
    border: 1px solid #95C444;
}

.drag-and-drop-interaction .landing.incorrect {
    box-shadow: 0px 0px 5px #F8A31A;
    border: 1px solid #F8A31A;
}

.drag-and-drop-interaction .floating-icon.incorrect {
    display: inline-block;
    position: absolute;
    background:url("/assets/images/wrong-icon-tiny.png") no-repeat;
    width: 25px;
    height: 21px;
    top: -9px;
    right: -14px;
}

.drag-and-drop-interaction .placeholder {
    background-color: #800080;
}

.drag-and-drop-interaction .no-border {
    border: none;
    border-collapse: collapse;
}

.drag-and-drop-interaction .close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: url("/assets/images/close.png") no-repeat center center;
    width: 24px;
    height: 24px;
    cursor: hand;
    cursor: pointer;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
