.answerContainer {
    padding: 10px;
}

.solution-modal {
    padding: 10px;
}

.solution-button {
    margin-left: auto;
}

.contentElement {
    border-radius: 4px;
    background-color: #999;
    padding: 8px;
    float: left;
    margin-right: 5px;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.placeholder {
    background-color: #800080;
}