/* sortable styles for ordering interaction */
.sortable-body {
    margin-left: 20px;
    list-style-type: none;
}

.sortable-item {
    margin-bottom: .4em;
    display: inline-block;
    padding: 8px;
    border: 1px #000000 solid;
    border-radius: 8px;
    background-color: #EEE;
    cursor: move;
}

.sortable-item.order-correct {
	border: 2px solid #53C516;
}

.sortable-item.order-incorrect {
	border: 2px solid #F8A31A;
}


ul {
    list-style: none;
}

.placable-item {
    background-color: #eee;
    margin: 10px;

}

.placement-destination {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
}

.placing {
    background-color: green;
}

.ui-state-highlight { background-color: #EEEEEE; }​
