/* sortable styles for ordering interaction */
.sortable-body {
    margin-left: 20px;
    list-style-type: none;
}

.sortable-item {
    margin-bottom: .4em;
    display: inline-block;
    padding: 8px;
    border: 1px #000000 solid;
    border-radius: 8px;
    background-color: #EEE;
    cursor: move;
}

.sortable-item.order-correct {
	border: 2px solid #53C516;
}

.sortable-item.order-incorrect {
	border: 2px solid #F8A31A;
}


ul {
    list-style: none;
}


.draggable-item {
    background-color: #eee;
    margin: 10px;
   	border-radius:4px;
   	border:1px solid #333;
   	cursor:move;
   	display:table;
    float: left;
   	margin-bottom:0.4em;
   	padding:8px;
}

.placement-destination-inner > .draggable-item,
.placed {
    margin: 0px auto;
    background-color: #eee;
    border-radius:4px;
   	border:1px solid #333;
    padding:8px;
    display: inline-block;
    float: none;
}

.vertical {
    float: left;
}

.vertical > .draggable-item {
    display: table;
    float: none;
}

.placement-destination-inner > .draggable-item.order-correct {
	border: 2px solid #53C516;
}

.placement-destination-inner > .draggable-item.order-incorrect {
	border: 2px solid #F8A31A;
}

.placement-destination-holder {
    display: inline-block;
}

.placement-destination {
    width: 50px;
    height: 50px;
    background-color: #fafafa;
    border: 1px solid #eee;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.placement-destination-inner {
    display: table-cell;
    vertical-align: middle;
}

.verticalHolder  .placement-destination {
    margin: 3px auto;
    display: block;
}

.order-placement-destination-area {
    border: 1px solid #eee;
    z-index: 0;
    width: 90%;
    text-align: center;
    margin: auto;
}

.order-placement-destination-area-vertical {
    border: 1px solid #eee;
    z-index: 0;
    width: 90%;
    text-align: center;
    margin-left: 100px;
    float: left;
    padding: 5px;

}

.numbering {
    height: 100%;
    width: 100%;
    display: table;
}

.numbering .number {
    display: table-cell;
    vertical-align: middle;
    color: #ddd;
}

.placing {
    background-color: #92D400;
}

.dragArea {
}

.verticalHolder {
    display: table;
    margin: auto;
}

.ui-state-highlight { background-color: #EEEEEE; }​
