selectTextInteraction {
    margin: 0;
   	font:14px/20px "Ubuntu", Arial, Helvetica, sans-serif !important;
   	font-size:14px;
   	line-height:20px;
   	padding:0 0 18px;
}

[selectable] .hover {
    background-color: rgb(206, 206, 206);
    background-color: rgba(206, 206, 206, 0.4);
    cursor: hand; cursor: pointer;
}

[selectable] .hand {
    cursor: hand; cursor: pointer;
}

/* Selected answer - correctness not known */
[selectable] .selected span {
    background-color: rgb(206,206,206);
}

[selectable] .selected.unknown span {
    background-color: #4055f8;
    color: #fff;
}

/* Selected Incorrect Answer */
[selectable] .selected.shouldNotHaveBeenSelected span {
    background-color: #F8A31A;
    border:none;
    line-height:24px;
    margin:0 2px 0 2px;
    padding: 3px 4px;
}

/* Not selected Correct Answer */
[selectable] .shouldHaveBeenSelected span {
    border: 2px solid #80B312;
    line-height:24px;
    margin:0 2px 0 2px;
    padding:1px 2px;

}

/* Selected Correct Answer */
[selectable] .selected.shouldHaveBeenSelected span {
    background-color: #80B312;
    border: none;
    color:#fff;
    line-height:24px;
    margin:0 2px 0 2px;
    padding: 3px 4px;
}
