[selectable] {
}

[selectable] .hover {
    background-color: rgb(191, 191, 191);
    background-color: rgba(191, 191, 191, 0.2);

    cursor: hand; cursor: pointer;
}

[selectable] .hand {
    cursor: hand; cursor: pointer;
}

[selectable] .selected {
    background-color: rgb(139,141,142);
}

[selectable] .selected.shouldNotHaveBeenSelected {
    background-color: #cd5c5c;
}

[selectable] .shouldHaveBeenSelected {
    background-color: #00ffff;
}

[selectable] .selected.shouldHaveBeenSelected {
    background-color: #2e8b57;
}
