<div class="header-wrap">
    <div class="container">
        <header class="header">
            <div class="logo-new"><a href="/"><img src="/assets/public/images/logo-new.png" alt="CoreSpring"></a></div>

            <nav class="nav" align="right">
                <div class="navbar">
                    <div class="">
                        <div class="container">

                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li><a id="edu-nav" href="/public/educators">Educators</a></li>
                                    <li><a id="dev-nav" href="http://developer.corespring.org/">developers</a></li>
                                    <li><a id="partner-nav" href="/public/partnerships">partnerships</a></li>
                                    <li><a id="about-nav" href="/public/about">about</a></li>
                                    <li><a id="contact-nav" href="/public/contact">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

        </header>
    </div>
</div>

