<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="-wfxFrZYKKRpF5_-V-G9g1wk5e8HrF2zKc-FKJ-NhNE" />

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33132525-1']);
    _gaq.push(['_setDomainName', 'corespring.org']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,500italic,700' rel='stylesheet' type='text/css'>
<link href="/assets/public/bootstrap/2.1.1/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/public/css/bootstrap-overrides.css" rel="stylesheet" type="text/css" media="all" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

<!--[if lte IE 8]>
<link type="text/css" rel="stylesheet" href="css/ie.css" />
<script src="/assets/public/js/html5.js" type="text/javascript"></script>
<![endif]-->

<!--[if lte IE 6]>
<script src="/assets/public/js/belated.js" type="text/javascript"></script>
<![endif]-->

