<div class="window-overlay" ng-app="item-preview">
    <div class="window" style="top: 50px; display: block;" onclick="var event = arguments[0] || window.event; event.stopPropagation();">
        <a class="focus-dummy" href="#"></a>

        <div class="window-wrapper clearfix" style="">
            <div class="clearfix">

                <div ng-controller="PreviewController" >

                <div class="sub-nav" style="position: relative">
                    <div class="container" style="width: 600px;">
                        <div class="row">
                            <ul class="nav nav-tabs">

                                <li ng-class="{true: 'active', false:''}[currentPanel=='profile']">
                                    <a ng-click="changePanel('profile')">Profile</a>
                                </li>

                                <li ng-class="{true:'active', false:''}[currentPanel=='item']">
                                    <a ng-click="changePanel('item')">Preview</a>
                                </li>

                                <li ng-repeat="sm in itemData.supportingMaterials"
                                    ng-class="{true: 'active', false:''}[currentSm==sm]">
                                    <a ng-click="changeSupportingMaterialPanel(sm)">{{sm.name}}</a>
                                </li>


                                <li class="prev-print">
                                    <a class="prev-print" ng-click="printCurrent()" >
                                        <img src="/assets/images/print.png" alt="Print"/>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>


                    <div id='itemView' class="preview-container"
                            ng-show="currentPanel=='item'" >
                        <iframe frameBorder="0"
                            class="auto-height"
                            style="width: 100%; min-height: 400px"
                            scrolling="no"
                            ng-show="itemData" ng-src="{{getItemUrl()}}"
                            > </iframe>
                    </div>

                    <div id='supportingMaterialView' class="preview-container"
                         ng-repeat="sm in itemData.supportingMaterials"
                         ng-show="currentSm==sm">
                        <iframe
                                frameBorder="0"
                                ng-src="{{getSmSrc(sm)}}"
                                class="auto-height"
                                style="width: 100%; min-height: 400px"
                                scrolling="no"
                                align="center"
                                class="iframe-preview"></iframe>
                    </div>

                    <div id='profileView' ng-show="currentPanel=='profile'" class="preview-container">
                        <div class="container" style="width: 600px; margin-bottom: 50px;" >
                            @web.views.html.partials._viewItem.corespringData()
                            @web.views.html.partials._viewItem.history()
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

