<div class="window-overlay">
    <div class="window" style="top: 50px; display: block;" onclick="var event = arguments[0] || window.event; event.stopPropagation();">
        <a class="focus-dummy" href="#"></a>
        <div class="window-wrapper clearfix" style="">
            <div class="clearfix">
                <div id="preloader" class="preloader" style="height: 600px">
                </div>
                <span profile-player="" id='player' style="display: block; width: 100%; min-height: 400px" item-id="{{previewingId}}" on-item-load="onItemLoad()" style='display: none'/>
            </div>
        </div>
    </div>
</div>

