@(collections : List[(String,String)])
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Reports</title>
    <meta name="description" content="CoreSpring"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    @org.corespring.web.common.views.html.head.coreJs()
    @org.corespring.web.common.views.html.head.bootstrap()
    @org.corespring.web.common.views.html.head.select2()

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>

    <style type="text/css">
        .loading .refresh {
            display: none;
        }

        .indicator {
            display: none;
        }

        .main-reports {
            list-style-type: none;
            margin: 0;
        }

        .main-reports a {
            display: inline-block;
            vertical-align: middle;
        }

        .loading .indicator {
            display: inline-block;
            vertical-align: middle;
            background: url('/assets/images/ajax-loader.gif') no-repeat center center;
            background-size: 12px 12px;
            height: 12px;
            width: 12px;
        }
    </style>

    <script type="text/javascript">

        function updateLinks( collectionName ){

            var imap = {collection:"collectionId", contributor:"contributorDetails.contributor",
                        itemType: "taskInfo.itemType", credentials: "contributorDetails.credentials",
                        licenseType: "contributorDetails.licenseType"}

            _.each(imap, function(val, key){
                console.log(val, key);
                $("#" + key).attr('href', '/reports/' + collectionName + '/' + val + '.csv');
            })
        }

        $(document).ready(function(){

            $("#collectionSelect").change(function(){
                var newLink = $("#collectionSelect").val();
                updateLinks(newLink);
            });

            updateLinks($("#collectionSelect").val());

            function pollReport(href, li) {
                $.ajax({
                    method: 'GET',
                    url: href,
                    success: function(data, textStatus, xhr) {
                        if (xhr.status == 202) {
                            setTimeout(function() {
                                pollReport(href, li);
                            }, 5000);
                        } else {
                            $(li).toggleClass('loading');
                        }
                    },
                    error: function() {
                        alert("There was an error refreshing the report");
                        $(li).toggleClass('loading');
                    }
                });
            }

            $('.refresh').on('click', function() {
                var url = $(this).attr('href');
                var li = $(this).closest('li');

                $(li).toggleClass('loading');
                $.ajax({
                    method: 'GET',
                    url: url,
                    success: function(data, textStatus, xhr) {
                        if (xhr.status == 202) {
                            pollReport(url + "/status", li);
                        } else {
                            $(li).toggleClass('loading');
                        }
                    },
                    error: function() {
                        alert("There was an error refreshing the report");
                        $(li).toggleClass('loading');
                    }
                })
                return false;
            });

        });
    </script>
</head>
<body>

@web.views.html.mainNav()

<div class="container" style="position:relative; top: 100px;">
    <h2>Main Reports</h2>
    <p>Main reports take a while to generate, so are generated automatically every 24 hours. If you require an immediate up-to-date version of the report, click the refresh button.</p>
    <ul class="main-reports">
        <li>
            <a href="/reports/primary-subject-item-report.csv">Primary Subject Report</a>&nbsp;
            <span class="refresh">[<a href="/reports/refresh/primarySubject" class="refresh">refresh</a>]</span>
            <div class="indicator"/>
        </li>
        <li>
            <a href="/reports/standard-item-report.csv">Standard Report</a>&nbsp;
            <span class="refresh">[<a href="/reports/refresh/standards" class="refresh">refresh</a>]</span>
            <div class="indicator"/>
        </li>
        <li>
            <a href="/reports/contributor-item-report.csv">Contributor Report</a>&nbsp;
            <span class="refresh">[<a href="/reports/refresh/contributor" class="refresh">refresh</a>]</span>
            <div class="indicator"/>
        </li>
        <li>
            <a href="/reports/collection-item-report.csv">Collection Report</a>&nbsp;
            <span class="refresh">[<a href="/reports/refresh/collection" class="refresh">refresh</a>]</span>
            <div class="indicator"/>
        </li>
    </ul>

    <br/>
    <br/>

    <h2>Item Totals</h2>
    <select id="collectionSelect">
        <option value="all">All</option>
        @collections.map{ c =>
        <option value="@c._2">@c._1</option>
        }
    </select>
    <br/>
    <a id="collection">Total items by collection</a>
    <br/>
    <a id="contributor">Total items by Contributor</a>
    <br/>
    <a id="itemType">Total items by Type</a>
    <br/>
    <a id="credentials">Total items by Credentials</a>
    <br/>
    <a id="licenseType">Total items by licenseType</a>

</div>
</body>
</html>
