
@(collections : List[(String,String)], timestamps: Map[String, String])
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Reports</title>
    <meta name="description" content="CoreSpring"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    @org.corespring.web.common.views.html.head.coreJs()
    @org.corespring.web.common.views.html.head.bootstrap()
    @org.corespring.web.common.views.html.head.select2()

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>

    <style type="text/css">
        .loading .generate {
            display: none;
        }

        .indicator {
            display: none;
        }

        .main-reports {
            list-style-type: none;
            margin: 0;
        }

        .main-reports .name {
            width: 295px;
        }

        .main-reports .date {
            width: 150px;
        }

        .main-reports thead {
            font-weight: bold;
        }

        .main-reports tr {
            margin: 20px 0;
        }

        .main-reports a {
            display: inline-block;
            margin: 10px;
            text-align: center;
        }

        .main-reports span {
            display: block;
        }

        .main-reports .loading a {
            display: none;
        }

        .main-reports .loading .indicator {
            display: inline-block;
            background: url('/assets/images/ajax-loader.gif') no-repeat center center;
            background-size: 32px 32px;
            height: 32px;
            width: 32px;
            margin: 16px;
        }
    </style>

    <script type="text/javascript">

        function updateLinks( collectionName ){

            var imap = {collection:"collectionId", contributor:"contributorDetails.contributor",
                        itemType: "taskInfo.itemType", credentials: "contributorDetails.credentials",
                        licenseType: "contributorDetails.licenseType"}

            _.each(imap, function(val, key){
                console.log(val, key);
                $("#" + key).attr('href', '/reports/' + collectionName + '/' + val + '.csv');
            })
        }

        $(document).ready(function(){

            $("#collectionSelect").change(function(){
                var newLink = $("#collectionSelect").val();
                updateLinks(newLink);
            });

            updateLinks($("#collectionSelect").val());

            function pollReport(href, li) {
                $.ajax({
                    method: 'GET',
                    url: href,
                    success: function(data, textStatus, xhr) {
                        if (xhr.status == 202) {
                            setTimeout(function() {
                                pollReport(href, li);
                            }, 5000);
                        } else {
                            $(li).toggleClass('loading');
                        }
                    },
                    error: function() {
                        alert("There was an error generating the report");
                        $(li).toggleClass('loading');
                    }
                });
            }

            $('.generate').on('click', function() {
                var url = $(this).attr('href');
                var td = $(this).closest('td');

                $(td).toggleClass('loading');

                $.ajax({
                    method: 'GET',
                    url: url,
                    success: function(data, textStatus, xhr) {
                        if (xhr.status == 202) {
                            pollReport(url.replace('generate', 'status'), td);
                        } else {
                            $(td).toggleClass('loading');
                        }
                    },
                    error: function() {
                        alert("There was an error generating the report");
                        $(td).toggleClass('loading');
                    }
                });
                return false;
            });

        });
    </script>
</head>
<body>

@web.views.html.mainNav()

<div class="container" style="position:relative; top: 100px;">
    <h2>Main Reports</h2>
    <p>Main reports take a while to generate, so are generated automatically every 24 hours. If you require an immediate up-to-date version of the report, click the generate button.</p>
    <table class="main-reports">
        <thead>
            <tr>
                <td class="name">Report Name</td>
                <td colspan="3">Date Created</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="name">Primary Subject Report</td>
                <td class="date">@timestamps.get("primarySubject").getOrElse("--")</td>
                <td>
                    <a class="generate" href="/reports/primarySubject/generate">
                        <img src="assets/images/refresh.png"/>
                        <span>Update</span>
                    </a>
                    <div class="indicator"/>
                </td>
                <td><a href="/reports/primary-subject-item-report.csv">
                    <img src="assets/images/download.png" />
                    <span>Download</span>
                </a></td>
            </tr>
            <tr>
                <td class="name">Standard Report</td>
                <td class="date">@timestamps.get("standards").getOrElse("--")</td>
                <td>
                    <a class="generate" href="/reports/standards/generate">
                        <img src="assets/images/refresh.png"/>
                        <span>Update</span>
                    </a>
                    <div class="indicator"/>
                </td>
                <td><a href="/reports/standard-item-report.csv">
                    <img src="assets/images/download.png" />
                    <span>Download</span>
                </a></td>
            </tr>
            <tr>
                <td class="name">Contributor Report</td>
                <td class="date">@timestamps.get("contributor").getOrElse("--")</td>
                <td>
                    <a class="generate" href="/reports/contributor/generate">
                        <img src="assets/images/refresh.png"/>
                        <span>Update</span>
                    </a>
                    <div class="indicator"/>
                </td>
                <td>
                    <a href="/reports/contributor-item-report.csv">
                        <img src="assets/images/download.png" />
                        <span>Download</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="name">Collection Report</td>
                <td class="date">@timestamps.get("collection").getOrElse("--")</td>
                <td>
                    <a class="generate" href="/reports/collection/generate">
                        <img src="assets/images/refresh.png"/>
                        <span>Update</span>
                    </a>
                    <div class="indicator"/>
                </td>
                <td>
                    <a href="/reports/collection-item-report.csv">
                        <img src="assets/images/download.png" />
                        <span>Download</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <br/>
    <br/>

    <h2>Item Totals</h2>
    <select id="collectionSelect">
        <option value="all">All</option>
        @collections.map{ c =>
        <option value="@c._2">@c._1</option>
        }
    </select>
    <br/>
    <a id="collection">Total items by collection</a>
    <br/>
    <a id="contributor">Total items by Contributor</a>
    <br/>
    <a id="itemType">Total items by Type</a>
    <br/>
    <a id="credentials">Total items by Credentials</a>
    <br/>
    <a id="licenseType">Total items by licenseType</a>

</div>
</body>
</html>
