<div class="control-group">

    <label class="control-label">Status</label>
    <div class="controls">
        <label class="checkbox inline">
            <input
                    type="checkbox"
                    ng-model="itemData.workflow.setup">Set up</input>
        </label>
        <label class="checkbox inline">
            <input
                    type="checkbox"
                    ng-model="itemData.workflow.tagged">Tagged</input>
        </label>
        <label class="checkbox inline">
            <input
                    type="checkbox"
                    ng-model="itemData.workflow.standardsAligned">Standards aligned</input>
        </label>
        <label class="checkbox inline">
            <input
                    type="checkbox"
                    ng-model="itemData.workflow.qaReview">QA</input>
        </label>
    </div>
</div>

