.choice-interaction {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.choicePrompt {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}
.simpleChoice {
    font-size: 18px;
}
.simpleChoice input {
    margin-left: 10px;
    margin-right: 10px;
}