.assessmentPage {
    width:600px;
    margin:20px auto;
    padding: 16px 13px;
    border: 2px #EAEAEA dashed;
}

prompt, .choice-prompt {
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
}
.correct-response {
    display: block;
    color: green;
}
.incorrect-selection {
    display: block;
    color: red;
}
.feedback-inline {
    color: grey;
    padding-left: 10px;
}

/*Fix for superscript not rendering*/
sup{
    vertical-align: super;
    padding: 2px;
}

.text-entry-interaction.correct-response {
    display: inline;
}

.text-entry-interaction.incorrect-response {
    display: inline;
}

.text-entry-interaction.incorrect-response > input {
    border-color: #F8A31A;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 4px rgba(161, 225, 23, 0.8);
    outline: 0px none;
}

.item-body-dotted-line{
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: dotted;
    border-color: #000000;
    width: 100%;
    height: 2.5em;
    margin-bottom: 20px;
}

/**
*  TODO - temporary fix - evan
*/
.feedback-block-correct {
    background:url(images/correct-icon.png) no-repeat 0 50%;
    border-color: green;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 4px rgba(161, 225, 23, 0.8);
    outline: 0px none;
    padding:10px;
    margin: 15px;

}

.feedback-block-incorrect {

    background:url(images/wrong-icon.png) no-repeat 0 50%;
    border-color: #F8A31A;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 4px rgba(161, 225, 23, 0.8);
    outline: 0px none;
    padding:10px;
    margin: 15px;

}