.assessmentPage {
    width:600px;
    margin:20px auto;
    padding: 16px 13px;
    border: 2px #EAEAEA dashed;
}

prompt, .choice-prompt {
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
}
.correct-response {
    display: block;
    color: green;
}
.incorrect-selection {
    display: block;
    color: red;
}
.feedback-inline {
    color: grey;
    padding-left: 10px;
}


@charset "utf-8";
/* CSS Document */
/* -------------------------------------------------
VERSION 6.8 9-25-2012 1:17PM
---------------------------------------------------- */


/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 LICENSE: Public Domain*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Getting the app-specific tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video, prompt, choicePrompt {
    display:block;
    margin:0;
    padding:0;
}
/*-------------------------------------------------------------------------------------------*/
/*  SETUP */
/*-------------------------------------------------------------------------------------------*/

body {
    font-family:"Ubuntu", Arial, Helvetica, sans-serif;
    color:#444;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000;
}
h1 {
    font-size:20px;
    margin-bottom:15px;
}
h2 {
    font-size:18px;
    padding-bottom:4px;
    margin-bottom:12px;
}
h2.horizontal-line {
    width:100%;
    border-bottom:1px #CCCCCC solid;
    padding-bottom:4px;
    margin-bottom:12px;
}
h3 {
    font-size:16px;
    padding:0 0 15px 0;
}
h4 {
    font-size:14px;
    padding:0 0 18px 0;
}
p {
    margin: 0 0 0 20px;
    font:14px/18px "Ubuntu", Arial, Helvetica, sans-serif;
    padding:0 0 18px 0;
}

/* Indent of small text fields*/
span p input.ng-pristine, span p. span input.ng-valid {
    margin-left:20px;
}
p span input.ng-valid, p span input.ng-pristine {
    margin-left:3px;
}
/* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
    -ms-interpolation-mode: bicubic;
}
/*-------------------------------------------------------------------------------------------*/

mark, rp, rt, ruby, summary, time {
    display:inline
}


/*-------------------------------------------------------------------------------------------*/
/* TEXT FORMATTING */
/*-------------------------------------------------------------------------------------------*/

/*input items (checkboxes, radio buttons, inine text items etc) */
input.ng-pristine, input.ng-valid, .choiceInteraction simplechoice div {
    margin:0 8px 0 0;
    font-size: 14px;
}
math, .mathml, div.math-choices simplechoice, .math-text {
    font-family:"Times New Roman", Times, serif;
    font-size: 15px;
}
.choice-interaction {
    display: block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 15px;
}
/* Multiple Choice Option text */
.choiceInteraction simplechoice div span {
    font-style:normal;
    color: #444;
}
.choiceInteraction div.simplechoice-placeholder div.choice-content img {
    width:auto;
}
blockquote p span input.ng-pristine {
    margin:none;
}
/* ADDED FOR NEW MULTIPLE CHOICE STRUCTURE*/
.simplechoice-placeholder, .choice-interaction simplechoice {
    display:table;
    margin-left: 20px;
    margin-bottom: 5px;
}
.choiceInput, .choice-content {
    display: table-cell;
    vertical-align: middle;
    padding:5px 0 px 0;
}
input[type="submit"] {
    display:block;
    margin:0 0 10px auto;
}
/* -------------------------------------
TEXT ELEMENTS
---------------------------------------- */
.intro, div.intro {
    font-family: 'Ubuntu';
    font-style:italic;
    font-size:14px;
    line-height:20.4px;
    color:#444;
    font-style:italic;
    padding:0 0 23px 0;
    margin:0;
}
.intro-2 {
    line-height:18px;
    font-size:14px;
    margin:0;
    color: #444;
}
/* Required for line numbering */
p .numbers {
    float:left;
    text-align:right;
    white-space:nowrap;
}
.numbered-wrapper p {
    line-height: 23px;
}
/* Required for Paragraph Numbering */
.p-list {
    padding:0;
    margin:0;
    counter-reset:section;
    font-size:14px;
    line-height:18px;
}
.p-list li {
    padding:0 0 18px 30px;
    list-style:none;
    position:relative;
}
.p-list li:before {
    content:counter(section);
    counter-increment:section;
    font-size:14px;
    line-height:18px;
    position:absolute;
    top:2px;
    left:0;
    width:20px;
    height:18px;
    text-align:right;
    color:#444;
}

.educator-message {
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    color:#999;
    font-style:italic;
    margin:20px 0;
    padding:5px;
}

.p-list p {
    padding:0;
}
.leading-150-percent {
    line-height:28px;
}
.leading-200-percent {
    line-height:38px;
}
/* The correct selector for text is .para-center. The rest of these variations were observed in the files */
div.text-centered, div.para-center, div.center, .center, center, .text-centered, .para-center {
    text-align:center;
}
div.floated-para {
    font-size:14px;
    line-height:18px;
    padding-bottom:25px;
}
.floated-para .img-right {
    float:right;
    width:200px;
    margin:26px;
}
.author-name, .passage-author, .passage-byline {
    display: block;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding-bottom:20px;
    margin-top:-5px;
}
.passage-subtitle/*mcas*/ {
    display: block;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color:#000;
    margin:0px;
}

/*----------------------------
TEXT BOXES
------------------------------*/

textarea {
    width:96%;
    margin:0 0 10px 0;
    border:1px solid #797979;
    box-shadow:inset 0 0 8px #d1d1d1;
    -moz-box-shadow:inset 0 0 8px #d1d1d1;
    -webkit-box-shadow:inset 0 0 8px #d1d1d1;
    padding:7px;
    text-align:left;
    font:14px 'Ubuntu', Arial, Helvetica, sans-serif;
    color:#444;
    resize:none;
}
textarea.answer-1-linebox, answer-1-linebox {
    height:26px;
    padding:10px 7px 0 7px;
    line-height:12px;
}
textarea.answer-5-linebox {
    height:95px;
}
textarea.answer-5-linebox-1 {
    height:95px;
    margin-bottom:40px;
}
textarea.answer-10-linebox {
    height:180px;
}
textarea.answer-15-linebox {
    height:285px;
}
textarea.answer-20-linebox {
    height:380px;
}
.passage-author/*mcas*/ {
    display: block;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin-top: -5px;
    font-size:16px;
}
/* FOOTNOTES AND COPYRIGHT */
.note-tip {
    border-top:1px #999 solid;
    padding:5px 0 0 0;
    margin:10px 0 0 0;
    font-size:11px;
    display:inline-block;
}
div.copyright, div.image-copyright {
    position:relative;
    top:-30px;
    margin-bottom:20px;
    font-size:11px;
    text-align:center;
    display:block;
}

/*----------------------------
CONTAINERS AND IMAGES
------------------------------*/
.imagewrapper-200, .imagewrapper-400, .imagewrapper-600, .imagewrapper {
    margin:0 auto 37px;
    padding:0;
    overflow:hidden;
    text-align:center;
}
.img-left {
    margin-left:20px;
    text-align:left;
}
.imagewrapper-200, .imagewrapper-200 img {
    max-width:200px;
}
.imagewrapper-400, .imagewrapper-400 img {
    max-width:400px;
}
.imagewrapper-600, .imagewrapper-600 img {
    max-width:600px;
}
p img, .imagewrapper img {
    max-width:600px;
}
p .img-right {
    float: right;
    margin:5px 0 26px 26px;
    max-width: 300px;
}
/*----END-------------*/


/*----------------------------
DISTRACTOR-RELATED
------------------------------*/

.prompt, .choice-prompt, prompt.ng-scope, .choicePrompt, .item-stem, p.prompt, span.choice-prompt, p.ng-scope prompt, span p.prompt, resource.ng-scope prompt {
    font-size:14px;
    padding:0 0 15px 0;
    color: #000;
    margin-left:0px
}
.incorrectSelection, .incorrect-selection {
    color: #F8A31A;
}
.orderIncorrect {
    border-color:#F8A31A;
}

.orderCorrect{

}
.feedbackinline {
    color: #444;
    padding-left: 10px;
    font-size: 14px;
}
.correct-response {
    color: green;
}
.choice-interaction > .ng-scope:first-child + .ng-scope {
    display:block;
    margin:0 0 5px;
}
simplechoice.ng-scope {
    display:block;
    overflow:hidden;
}
.simplechoice-inner {
    margin:0 0 5px 20px;
}
.choiceInput, .choice-content {
    display:table-cell;
    vertical-align:middle;
    color:#444;
    font-size:14px;
}
.choiceInput {
    padding:0 3px 0 0;
}
.choice-content > .ng-scope {
    display:inline-block;
    vertical-align:middle;
    padding:0;
}
.choice-content .ng-scope:first-child {
    width:180px;
}
.correct-response .choice-content > .ng-scope:first-child, .incorrect-selection .choice-content > .ng-scope:first-child {
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    margin:0 5px 0 -6px;
    padding:5px;
    width:166px;
}
.incorrect-selection .choice-content > .ng-scope:first-child {
    border:2px solid #f8a31a;
}
.correct-response .choice-content > .ng-scope:first-child {
    border:2px solid #53C516;
}
.choice-content .ng-scope:first-child + .ng-scope span {
    padding:0 0 0 30px;
    display:inline-block;
    min-height:21px;
    max-width:338px;
    line-height:21px;
}
.incorrect-selection .choice-content .ng-scope:first-child + .ng-scope span {
    background:url(images/wrong-icon.png) no-repeat 0 50%;
}
.correct-response .choice-content .ng-scope:first-child + .ng-scope span {
    background:url(images/correct-icon.png) no-repeat 0 50%;
}
.choiceInteraction simplechoice {
    display:block;
    padding-left: 20px;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 2px;
}
/* Multiple Choice Set */
.choiceInteraction {
    display: block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-top: 15px;
}
.sortable-body {
    list-style-type:none;
    margin-left:20px;
}
.sortable-item {
    background-color: #444;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #444;
    cursor:move;
    display:inline-block;
    margin-bottom:0.4em;
    padding:8px;
}


/*----------------------------
LISTS AND TABLES
------------------------------*/

/* LIST ITEMS*/
ol, ul {
    padding:0;
    margin:0 0 20px 20px;
    list-style:none;
    font-size:14px;
    line-height:18px;
}
ul, ol {
    position:relative;
    margin-left:35px;
}
ol li {
    list-style:decimal;
    font-size:14px;
    padding:0 0 10px;
}
ul li {
    list-style:disc;
    padding:0 0 10px;
}

/* LIST TYPES */

.list-upper-roman li {
    list-style-type:upper-roman;
}
.list-lower-roman li {
    list-style-type:lower-roman;
}
.list-upper-alpha li {
    list-style-type:upper-alpha;
}
.list-lower-alpha li {
    list-style-type:lower-alpha;
}
.list-disc li {
    list-style-type:disc;
}
.list-circle li {
    list-style-type:circle;
}
.list-square li {
    list-style-type:square;
}
ul.list-disc ul li {
    list-style-type:circle;
}
ul.list-disc ul ul li {
    list-style-type:square;
}

/*DEFINITION LISTS*/
dl {
    margin:0 5px 17px;
    overflow:hidden;
    font-size:14px;
    line-height:18px;
    color:#444;
}
dl dt {
    float:left;
    clear:left;
    padding:0 10px 0 0;
    width:140px;
    font-weight:bold;
}
dl dd {
    float:left;
    width:400px;
    overflow:hidden;
    margin:0;
    color:#444;
    margin-bottom: 10px;
}
input {
    font-size:14px;
}

/* DATA TABLE STYLE */
table {
    border-collapse:collapse;
    line-height:17px;
    color:#444;
    font-size:14px;
    margin:0 0 30px 20px;
}
table th, table td {
    padding:10px 5px;
    border:1px solid #999;
    text-align:center;
    vertical-align:middle;
    min-width:50px;
}
table th {
    background:#444;
    color:#fff;
}
table td a {
    color:#108fc4;
    text-decoration:none;
}
table td a:hover {
    text-decoration:underline;
}
table tfoot td {
    background:#E5E3E3;
}

/*----------------------------
TABS
------------------------------*/
.tab-panel {
    margin:0 0 9px 0;
    position:relative;
    overflow:hidden;
}
.tabs {
    padding:0 0 0 5px;
    margin:0;
}
.tabs ul.tabs {
    position:absolute;
    z-index:500;
    top:1px;
}
.tab-panel .tabs li {
    list-style:none;
    display:inline;
}
.tab-panel div.tabs ul {
    margin-bottom: 0px;
    margin-left:0px;
}

.tab-panel .tabs a {
    font-weight:bold;
    padding:10px;
    display:inline-block;
    background:#666;
    color:#dcddde;
    font-size:14px;
    height:20px;
    position:relative;
    top:1px;
    border:1px #999 solid;
    text-decoration:none;
    border-bottom:none;
}
.tab-panel .tabs a.active {
    background:#fff;
    color:#000;
    border:1px #999 solid;
    border-bottom:none;
}
.tab-panel .tab-box {
    margin:0px;
    padding:10px;
    border:1px #999 solid;
    background:#fff;
}
.tab-box .paragraph-style {
    color:#444;
    padding:5px;
    line-height:18.8px;
    font-size:14px;
    background:#fff;
    height:300px;
    overflow-y:scroll;
}



/*-----------------------------------
MISC.
-------------------------------------*/
hr.element-seperator {
    height:1px;
    background-color:#CCCCCC;
    border:none;
    color:#0FF;
    margin:30px 0;
    display:block;
}
/* TABLED TEXT SINGLE COLUMN BOXES - DIVs */
div.text-box-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    width: auto;
    margin-left: 20px;
}
div.text-box-header {
    background-color: #3B3A3A;
    color: #FFFFFF;
    font-weight: bold;
    width: auto;
    padding:5px;
    margin-bottom: 10px;
}
div.text-box-content {
    display: block;
    margin: 0px;
    padding-left:15px;
}
/* Borders */
.border-1px {
    border: 1px solid #999999;
    padding:20px;
}
.10px-space-below {
       margin-bottom:10px;
   }
.20px-space-below {
       margin-bottom:20px;
   }
.10px-space-above{
       margin-top:20px;
   }
.20px-space-above {
       margin-top:20px;
   }


/*------END------------ */

