prompt, .choice-prompt {
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
}
.correct-response {
    display: block;
    color: green;
}
.incorrect-selection {
    display: block;
    color: red;
}
.feedbackinline {
    color: grey;
    padding-left: 10px;
}