<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    @partials.headNode()
</head>

<body>

@partials.header("about")

<div class="title-wrap">
  <div class="container"> </div>
</div>

<!--main contents area starts here -->

<div class="container main-wrap">

    <div class="span12 lead-in about"> <span class="intro-logo"></span>

        <p> Quality content is an essential input to effective data-driven instructional environments. CoreSpring organizes assessment items using a common template that aligns content against standards such as the Common Core State Standards and frameworks that identify the targeted cognitive ability such as Bloom's taxonomy, and presents community feedback so that community members can make informed choices.</p>

    </div>

    <div class="container">

        <div class="main">

            <div class="row">

                <div class="span6 justify">

                    <h3>Save Time</h3>

                    <p>Educators may create quizzes aligned with instructional objectives using content sourced in CoreSpring's open collections of items and activities. Over time, CoreSpring community members will have access to a wide variety of content across a full range of grades and subjects.</p>

                </div>

                <div class="span6 justify">

                    <h3>Be Confident</h3>

                    <p>The nation is focused on higher levels of performance required for success in college. Be sure that the CoreSpring collections are designed to helps teachers and students achieve these goals. </p>

                </div>

            </div>

            <!--row -->

            <div class="row">

                <div class="span6 justify">

                    <h3>Focus on the Future</h3>

                    <p>CoreSpring content can be delivered using CoreSpring's developer tools. Our ongoing commitment to learning technology standardization through initiatives like IMS Learning Tools Interoperability (LTI), the Shared Learning Collaborative (SLC), and the Learning Resource Metadata Initiative (LRMI) promote simple integration with off-the-shelf learning products. </p>

                </div>

                <div class="span6 justify">

                    <h3>Eliminate the Headaches</h3>

                    <p>When using CoreSpring, there's no need to search through multiple sites and databases or deal with different formats to find good material. CoreSpring finds the good material, secures, the permissions, and digitizes and tags the content so that you can focus on the more important things. </p>

                </div>

            </div>

            <!--row -->

            <div class="span12" style="margin-left: 0px;">

                <hr>

            </div>

            <div class="span12 subhead">

                <p>Here are some answers to some frequently asked questions. </p>

            </div>

            <div class="row">

                <div class="span6 justify">

                    <h3>How does CoreSpring manage for quality?</h3>

                    <p>CoreSpring makes every attempt to include items from regarded authors. After items are transformed into a digital format, content experts review contributions and align them against a common rubric.</p>

                </div>

                <div class="span6 justify">

                    <h3>What is CoreSpring technology? </h3>

                    <p>CoreSpring's Item Player can be integrated with any web-based system. This ensures that items look, feel and behave consistently on all systems, particularly items that use more advanced interaction types. Our REST API provides developer flexibility in integrating CoreSpring content seamlessly. Please visit our <a href="/developer/home">developers</a> page for more information. </p>

                </div>

                <div class="span6 justify">

                    <h3>Is CoreSpring a nonprofit initiative?</h3>

                    <p>CoreSpring will seek tax-exempt status and we will build toward sustainability so that we may continuously improve the bank and the offering. In the future we anticipate that there will be some fees associated with using CoreSpring. </p>

                </div>

                <div class="span6 justify">

                    <h3>Does CoreSpring cover <u>all</u> subjects and <u>all</u> grades Pre-K-12+?</h3>

                    <p>To build the best bank, CoreSpring is starting with Math and English-Language Arts Literacy in grades K-12. We are actively seeking partnerships that expand our library. Please visit our <a href="/public/partnerships">partnerships</a> page for more information.</p>

                </div>
            </div>

            <div class="row">

                <div class="span6 justify">

                    <h3>Where does CoreSpring find content?</h3>

                    <p>CoreSpring is aggregating content from a number of places like state agencies and educational service organizations. When sourcing content, we prioritize quality and rigor and select materials designed specifically for college-ready standards like the Common Core State Standards. </p>

                </div>

                <div class="span6 justify">

                    <h3>Does CoreSpring support a variety of item types?</h3>

                    <p>At CoreSpring, multiple-choice is not a bad word but we know that students need exposure to a variety of tasks. Our Item Player supports the majority of interactions included in the PARCC and Smarter Balanced samples and we are constantly updating our own library so that content authors may create interactive and engaging experiences for students. Please visit our <a href="/public/educators">educators</a> page to browse a few samples.</p></p>

                </div>
            </div>

            <div class="row">

                <div class="span6 justify">

                    <h3>Is CoreSpring an assessment platform?</h3>

                    <p>Think of CoreSpring as one component of a larger teaching and learning solution. CoreSpring is building a collection of items that can be used as a source for great content within the context of other platforms like Learning Management Systems.
                    </p></p>

                </div>

                <div class="span6 justify">

                    <h3>Does CoreSpring access student data?</h3>

                    <p>CoreSpring does not have access to or manage any identifiable data about students.
                    </p></p>

                </div>
            </div>



            <!--end row-->



            <!--row -->

            <div class="span12" style="margin-left: 0px;">

                <hr>

            </div>

            <div class="span12 subhead">


                <p>The CoreSpring team is comprised of dedicated professionals and is based in New York City and we're looking to expand the team. </p>
                
                <div class="span12 justify">

                    <h3>User Experience Designer</h3>

                    <p>Teachers are time-pressed and very often experience frustration with technology tools that are supposed to help them. We are looking for someone who will bring their energy and creativity to the task of delivering truly effective, elegant tools that make students successful and ready for college and career.As the User Experience/Product Designer you would be a core member or our small team, with the primary responsibility for how users interact with our products.

                    </p></p>

                </div>
                
                    <p class="features-link">Candidates interested in learning more, can visit the <a href="http://www.corespring.org/about/UX" title="Jobs">Jobs Page.</a></p>
</p>

            </div>

            <!--<div class="row">

                <div class="span6 justify">

                    <h3>Gwen Baker</h3>

                    <p>Gwen comes from a long line of educators and attended public school in the mean streets of suburban Massachusetts. She got the education bug while attending the Institute for the Learning Sciences at Northwestern University and while working at Andersen Consulting (now Accenture). She made her way to New York City where she started work at Teachscape, Inc. and has worked exclusively on improving public education through her work at New Visions for Public Schools, NewSchools Venture Fund, and as an Entrepreneur in Residence at Bellwether Education Partners. When not working, Gwen is catching up on the news, running up and down the west side highway, and chasing Maurice, a 7lb Chihuahua who thinks he's a Great Dane.</p>

                </div>

                <div class="span6 justify">

                    <h3>Evan Eustace</h3>

                    <p>A transplant to New York from Dublin, Evan Eustace started his career as an audio-engineer doing studio and radio work, and restoring vintage soul and blues recordings for a US record label. But a computer-geek at heart since his teenage years, he was soon drawn into that as a profession. Since then he has spent 17 years developing software in diverse fields including television and publishing, on diverse platforms including server, mobile and desktop. The last 10 years have been spent in education, most recently as CTO at Teachscape. When not indoors in front of a computer, he can probably be found racing boats in New York harbor, or upside down in a crawl space fixing an engine or replacing a propeller.</p>

                </div>

                <!--end row-->-->

            </div>

        </div>

    </div>

</div>



<!--main content area (except header,footer) ends -->
@partials.footer()


</body>
</html>