<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    @partials.headNode()
</head>
<body>

@partials.header()

<div class="title-wrap">
    <div class="container"></div>
</div>

<!--main contents area starts here -->
<div class="container main-wrap">
    <div class="span12 lead-in contact"><span class="intro-logo"></span>

        <p> Contact CoreSpring</p>
     <span class="contact-info">
     <p>
         <strong>Email:</strong>
         <a href="mailto:info&#64;corespring.org">info&#64;corespring.org</a><br>
         <strong>Twitter:</strong>
         <a href="https://twitter.com/CoreSpringOrg" title="CoreSpring Twitter Feed"
                                      target="_self">&#64;CoreSpringOrg</a>
    </p>
     </span>

    </div>
    <div class="container">
        <div class="main">


        </div>
    </div>
</div>

<!--main content area (except header,footer) ends -->
@partials.footer()
</body>
</html>