<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/html">
<head>

    <title>Educators</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @partials.headNode()
    @common.views.html.head.angular()
    @common.views.html.head.corespringCommon()
    @publicsite.head.html.fancybox()

    <script src="/assets/js/corespring/tagger/mongo/MongoQuery.js"></script>
    <script src="/assets/public/js/angular/items-app.js"></script>
    <script src="/assets/public/js/angular/items.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox(
                {
					height : 720,
                    fitToView : false,
                    autoSize : false,
                    beforeShow: function(){
                        this.width = $('.fancybox-iframe').contents().find('html').width();
                    }
                }
                );
        });
    </script>

</head>

<body>

@partials.header("edu")

<div class="title-wrap">
  <div class="container">
    </div>
</div>


<!--main contents area starts here -->

<!--JM ADDED -->
<div class="container main-wrap">
  <div class="span12 lead-in educator"> <span class="intro-logo"></span>
    <p>Experts review all items in CoreSpring’s open collections to make sure that content is aligned to common standards and frameworks that guide teaching and learning. Explore samples below.</p>
  </div>
  <!--end of JM ADDITION -->
  <div class="container">

<div class="main" ng-controller="ItemsCtrl">
            <!--
            <div class="row">
                <form class="form-horizontal">
                    <div class="control-group">
                     <label class="control-label" for="primary-subject-dropdown" ><strong>Primary Subject</strong></label>
                        <div class="controls" id="primary-subject-dropdown">
                            <label class="checkbox inline" style="float:left" ng-repeat="primarySubject in primarySubjects">
                                <input type="checkbox" defaultChecked="false" ng-click="updatePrimarySubjectSearch(primarySubject)">{{primarySubject.category}}
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="grade-btn-bar"><strong>Grade:</strong></label>
                        <div class="controls btn-group" id="grade-btn-bar">
                            <button ng-repeat="grade in grades" class="btn" style="float:left" data-toggle="button" ng-click="updateGradeSearch(grade)">{{grade}}</button>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="item-type-chkbx"><strong>Item Type:</strong></label>
                        <div class="controls" id="item-type-chkbx">
                            <label class="checkbox inline" style="float:left" ng-repeat="itemType in itemTypes">
                                <input type="checkbox" defaultChecked="false" ng-click="updateItemTypeSearch(itemType)">{{itemType}}
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            -->
            <div class="row">
                <div class="span2">&nbsp;</div>
            </div>

<!-- items -->

<div ng-switch on="itemState">
    <div ng-switch-when="noContent">
        <div class="row offset4">
            <h2>No Items Found...</h2>
        </div>
        <div class="row offset3">
            <p class="lead">No items were found with the selected filters. <a href="/public/collection">clear all filters</a></p>
        </div>
    </div>
    <div class="row" ng-switch-when="loading">
        <div class="offset4 span1"><img src="/assets/images/loadingSpinner.gif" /></div>
        <div class="span2"><h3>Loading...</h3></div>
    </div>
    <div ng-switch-when="hasContent">
        <div ng-repeat="i in items" style="padding-bottom: 12px;">

            <div class="well item">
                <table>
                    <tr>
                        <td width="45px">Grade:</td>
                        <td width="238px" class="value">{{i.gradeLevel.join()}}</td>
                        <td width="40px">CCSS:</td>
                        <td width="300px" class="value">
                            <span ng-show="!i.standards || i.length == 0" style="color: #888; font-style: italic;">Not Assigned</span>
                            <span ng-repeat="s in i.standards" ui-jq="tooltip"
                                  ui-options="{title: s.standard}">{{s.dotNotation}}&nbsp;</span></td>
                                <td class="button-cell">
                                    <!--
                                    <a class="btn btn-success fancybox" data-fancybox-type="iframe" href="{{rootUrl}}/web/item-preview/{{i.id}}">Profile</a>
                                     <a class="btn btn-primary fancybox" data-fancybox-type="iframe" href="{{rootUrl}}/testplayer/item/{{i.id}}/run?access_token=34dj45a769j4e1c0h4wb" >Play it!</a>
                                -->
                                </td>

                    </tr>

                </table>
                <a class="fancybox" data-fancybox-type="iframe" href="{{rootUrl}}/web/item-preview/{{i.id}}">
                    <p class="title" ng-bind-html-unsafe="i.title"></p>
                </a>
                <table>
                    <tr>
                        <td width="33%">Primary Subject</td>
                        <td width="33%">Type</td>
                        <td width="33%">Source</td>
                    </tr>
                       <tr>
                        <td width="auto" class="value">{{getPrimarySubjectLabel(i.primarySubject)}}</td>
                        <td width="auto" class="value">{{i.itemType}}</td>
                        <td width="auto" class="value">{{i.contributor}}</td>
                    </tr>

                </table>
          
            </div>

         </div>    
    </div>

</div>
<!--main content area (except header,footer) ends -->
</div>
</div>
</div>
@partials.footer()
</body>
</html>
