<!DOCTYPE html>
<html>
<head>
<title>Features</title>
@partials.headNode()
</head>
<body>
@partials.header("features")
<div class="title-wrap">
  <div class="container"> </div>
</div>

<!--main contents area starts here -->

<div class="container main-wrap">
  <div class="span12 lead-in features"> <span class="intro-logo"></span>

    <p>CoreSpring applies a forward-looking approach to shared item banking and formative assessment. <br />
       The vetted content delivered using innovative item types can be administered in any browser-capable environment.</p>
  </div>
  <div class="container">
    <div class="main">
      <div class="span12 features collections">
        <h3>CoreSpring Collections</h3>
        <div class="well logo-bank">
          <div class="logo-bank-title">Some of Our Quality Content Providers:</div>
          <table class="logo-table" >
            <tr>
              <td ><a href="http://www.illustrativemathematics.org/" title="Illustrative Mathematics"><img alt="Illustrative Mathematics" class="contributor-logos" src="/assets/public/images/illustrative-math-logo.jpg" style="top:-2px;"></a></td>
              <td><a href="http://www.nysed.gov/" title="New York State Department of Education"><img alt="New York State Department of Education" class="contributor-logos" src="/assets/public/images/nysedlogo.jpg" style="top:10px;"></a></td>
            </tr>
            <tr>
              <td ><a href="http://en.wikipedia.org/wiki/NECAP" title="New England Common Assessment Program"><img alt="New England Common Assessment Program" class="contributor-logos" src="/assets/public/images/necap-logo.jpeg" style="top:2px;"></a></td>
              <td><a href="http://nces.ed.gov/Timss/" title="Trends in International Mathematics and Science Study"><img alt="Trends in International Mathematics and Science Study" class="contributor-logos" src="/assets/public/images/timss-logo.jpeg" style="top:-3px;"></a></td>
            </tr>
            <tr>
              <td ><a href="http://www.aspirepublicschools.org/" title="Aspire Public Schools"><img alt="Aspire Public Schools" class="contributor-logos" src="/assets/public/images/aspire-logo.png" style="top:8px;"></a></td>
              <td><a href="http://www.state.nj.us/education/" title="New Jersey Department of Education"><img alt="New Jersey Department of Education" class="contributor-logos" src="/assets/public/images/njdoe-logo.png" style="top:8px;"></a></td>
            </tr>
          </table>
        </div>
        <p> At CoreSpring we're building a library of formative assessment items that help educators and students achieve deeper learning in classrooms. All CoreSpring interactions reflect the designs presented in PARCC and Smarter Balanced samples and can include a variety of media for maximum engagement. To start, CoreSpring is building a collection of items across K–12 in Mathematics, English Language Arts, Literacy, and Science. Items can be accompanied by supporting materials such as Scoring Guides, Rubrics, and examples of work. </p>
        <p class="features-link">To browse some samples, <a href="/public/educators" title="Educators">click here.</a></p>
      </div>
    </div>
    <div class="span12 features play-authoring">
          <h3> Reliable Rendering and Automatic Scoring </h3>
          <p>CoreSpring items can be integrated in any browser-based platform. Items are ”played” in browser engines on PC/laptop/tablets devices (specific tablet/touchscreen device administration enhancements will be added to standard browser-based delivery). We do this so that items can be consistently rendered-what you see is what you get. </p>
          <p class="graphic-context"> A 6th grade classroom is learning about ratios and their teacher assigns some work... </p>
          <img src="/assets/public/images/play-and-scoring.png" width="866" height="450">
          <p class="features-link">Developers interested in learning more, can visit the <a href="http://www.corespring.org/developer/home" title="Developers">Developers page.</a></p>
      </div>
    <div class="span12 features play-authoring">
          <h3>Immediate Results</h3>
          <p>As soon as a student completes an item, it is scored and stored and available for analysis. </p>
          <img src="/assets/public/images/app-feedback.png">
          <!-- Includes Button to trigger modal -->
          <p class="features-link">Check out the application we built using our APIs to show the power of CoreSpring, by<a href="#csvideomodal" role="button" data-toggle="modal"> clicking here.</a></p>

          <!-- Modal -->
          <div id="csvideomodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">CoreSpring Formative Assessment Application</h3>
              </div>
              <div class="modal-body">
                  <iframe width="560" height="315" src="http://www.youtube.com/embed/_FU0ol9lWog?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
          </div>
      </div>
    <div class="span12 features authoring-banking">
      <div class="ab1">
        <h3>Item Authoring</h3>
        <p class="authoring-graph">Items are authored very quickly and easily using CoreSpring’s authoring tools. The system allows authors to select an interaction, design feedback, add scoring rules, and  supporting materials.</p>
      </div>
      <div class="ab2"> </div>
      <div class="ab3">
        <h3>Item Banking</h3>
        <p class="banking-graph">All users of CoreSpring get access to the shared collections and organizations can store, manage, and share items with smaller networks in Private Collections.</p>
      </div>
      <div class="ab4"></div>
      <p class="features-link">If you are interested in using our authoring tools, please <a href="http://www.corespring.org/public/contact" title="Contact CoreSpring">Contact Us</a>.</p>
    </div>

  </div>
</div>
@partials.previewItemOverlay()
@partials.footer()
</body>
</html>
