<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="-wfxFrZYKKRpF5_-V-G9g1wk5e8HrF2zKc-FKJ-NhNE" />
    <title>About</title>
    
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,500italic,700' rel='stylesheet' type='text/css'>


    <link href="/assets/public/bootstrap/2.1.1/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/public/css/bootstrap-overrides.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    
    <!--[if lte IE 8]>
    <link type="text/css" rel="stylesheet" href="css/ie.css" />
    <script src="/assets/public/js/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <!--[if lte IE 6]>
    <script src="/assets/public/js/belated.js" type="text/javascript"></script>
    <![endif]-->
    
</head>

<!--header starts here -->
<div class="header-wrap">
	<div class="container">
                <header class="header">
            <div class="logo-new"><a href="index.html"><img src="images/logo-new.png" alt=""></a></div>
            
             <nav class="nav" align="right">
                <div class="navbar">
                    <div class="">
                        <div class="container">
                                
                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li><a id="edu-nav" href="educators.html">Educators</a></li>
                                    <li><a id="dev-nav" href="http://developer.corespring.org/">developers</a></li>
                                     <li><a id="partner-nav" href="partnerships.html">partnerships</a></li>
                                     <li><a id="about-nav" href="about.html">about</a></li>
                                     <li><a id="contact-nav" href="contact.html">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            
        </header>
    </div>
</div>
<!--header ends -->


<div class="title-wrap">
</div>


<!--main contents area starts here -->
<div class="container main-wrap">
<div class="span12 intro">
<p> Curated Collections. College-Ready Content. Innovative Design and Delivery. </p>
</div>
	<div class="container">
        <div class="main">

        	
          <div class="row">
            	<div class="span4 about">
                <span class="col-header"> Share in the <br>
                Wealth of Knowledge </span>
                    <p>CoreSpring is building a bank of formative assessment items designed to promote college and career readiness; assessment items can be shared beyond the borders of state, district, school, or classroom. CoreSpring will serve as a trusted clearinghouse for quality content.
                    </p>
                <span class="col-btn">
<button class="btn btn-primary btn-large">Learn about CoreSpring</button>
                    </span>
</div>
         
                <div class="span4 ed">
                <span class="col-header"> Everyday Support <br>
                for Teachers</span>
                    <p>Educators can save time and effort using CoreSpring’s bank. Teachers can be confident that the content in CoreSpring has been reviewed for quality and is aligned to well-established teaching and learning frameworks.
                    </p>
                <span class="col-btn">
<button class="btn btn-primary btn-large">Browse the Samples</button>
                    </span>
                </div>
                 
                <div class="span4 dev">
                <span class="col-header">Smart <br>
                Design</span>
                <p>CoreSpring eliminates the need for conducting multiple searches through numerous sites and databases to get great content; we locate it all in one place. CoreSpring's test player and developer tools enable a predictable and consistent look and feel of simple and innovative item types. </p>
                <span class="col-btn">
<button class="btn btn-primary btn-large">Connect with CoreSpring</button>
                    </span>
            </div>
            </div><!--row -->
</div>
        
        </div>
    </div>
</div>
<!--main content area (except header,footer) ends -->



<!--footer area starts here -->
<div class="footer-wrap-bar">
</div>
<div class="footer-wrap">
	<div class="page">
        <footer class="footer">
        	&copy; 2012  CoreSpring 
        </footer>
    </div>
</div>
<!--footer ends-->

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/widgets.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>