<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="-wfxFrZYKKRpF5_-V-G9g1wk5e8HrF2zKc-FKJ-NhNE" />
    <title>Partnership Opportunities</title>
    
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
     <link href="/assets/public/bootstrap/2.1.1/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/public/css/bootstrap-overrides.css" rel="stylesheet" type="text/css" media="all" />
    
    
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    
    <!--[if lte IE 8]>
    <link type="text/css" rel="stylesheet" href="css/ie.css" />
    <script src="/assets/public/js/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <!--[if lte IE 6]>
    <script src="/assets/public/js/belated.js" type="text/javascript"></script>
    <![endif]-->
    
</head>

<body>

<!--header starts here -->
<div class="header-wrap">
  <div class="container">
    <header class="header">
      <div class="logo-new"><a href="index.html"><img src="images/logo-new.png" alt=""></a></div>
      <nav class="nav" align="right">
        <div class="navbar">
          <div class="">
            <div class="container">
              <div class="nav-collapse">
                <ul class="nav">
                  <li><a id="edu-nav" href="educators.html">Educators</a></li>
                  <li><a id="dev-nav" href="http://developer.corespring.org/">developers</a></li>
                  <li><a id="partner-nav" href="partnerships.html">partnerships</a></li>
                  <li><a id="about-nav" href="about.html">about</a></li>
                  <li><a id="contact-nav" href="contact.html">contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>
</div>
<!--header ends -->

<div class="title-wrap">
  <div class="container"> </div>
</div>

<!--main contents area starts here -->
<div class="container main-wrap">
 <div class="span12 lead-in partner"> <span class="intro-logo"></span>
    <p> CoreSpring is actively seeking partner relationships to fast-forward efforts to<br>
    standardize the way assessment content is delivered in classrooms.</p>
  </div>
  <div class="container">
    <div class="main">
      <div class="row">
        <div class="span6 justify">
        <h3>Content Developers</h3>
        <p>CoreSpring plans to support the nation’s transition to college-ready standards and by hosting assessment content across core and non-core subjects. We’re accepting donations to the CoreSpring’s open collections and we're also interested in hearing from partners who may want to curate and distribute private collections using the CoreSpring platform and tools.</p></div>
        
        <div class="span6 justify">
        <h3>Early Adopters</h3>
        <p>CoreSpring wants to actively engage educators in the design and development process. We’ll grant access to the tools and content for use in your classroom in exchange for candid feedback on how to improve CoreSpring for you and your students.</p></div>
        </div><!--row --> 
        <div class="row">
        <div class="span6 justify">
         <h3>Technologists</h3>
        <p>CoreSpring would like to collaborate with platform developers who see an assessment solution as critical to success. (Check out our <a href="http://developer.corespring.org" title="CoreSpring Developer Page" target="_self">developer page</a> to learn more about our suite of APIs and about our Item Player.)</p></div>
        
        <div class="span6 justify">
        <h3>Administrators</h3>
        <p>Technology is increasingly playing a role in an Administrator’s strategy and CoreSpring can support these efforts. For example, we want to work with you to support your transition to the Common Core State Standards.</p></div>
      </div><!--row --> 
    </div>
  </div>
</div>

<!--main content area (except header,footer) ends --> 

<!--footer area starts here -->
<div class="footer-wrap-bar"> </div>
<div class="footer-wrap">
  <div class="page">
    <footer class="footer"> &copy; 2012  CoreSpring </footer>
  </div>
</div>
<!--footer ends--> 

<script type="text/javascript" src="js/jquery.js"></script> 
<script type="text/javascript" src="js/widgets.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>