@(params: player.models.PlayerParams)

@bodyAttributes = @{ "ng-controller='QtiAppController'" }

<!DOCTYPE html>
<html ng-app="qti" dimensions-checker>
    <head>
        @common.views.html.partials.ieEightSupport()
        @partials.scripts(params.xml)

        <script type="text/javascript">
                angular.module('qti.services').factory('Config', [function(){
                    return {
                        itemId : "@params.itemId"
                    }
                }]);
        </script>

        <script type="text/javascript" src="@player.controllers.routes.Item.jsRoutes"></script>

        <script src="/assets/js/corespring/qti/controllers/QtiAppController.js"></script>
        <script src="/assets/js/corespring/common/services/Item.js"></script>
        <script src="/assets/js/corespring/ProfileController.js"></script>

    </head>

    <div>
        <div ng-controller="ProfileController" >
            <div class="sub-nav" style="position: relative">
                <div class="container" style="width: 600px;">
                    <span class="close-window-button" ng-click="hidePopup()"></span>
                    <div class="row">
                        <ul class="nav nav-tabs">

                            <li ng-class="{true: 'active', false:''}[currentPanel=='profile']">
                                <a ng-click="changePanel('profile')"> Profile </a>
                            </li>

                            <li ng-class="{true:'active', false:''}[currentPanel=='item']">
                                <a ng-click="changePanel('item')"> Preview </a>
                            </li>

                            <li ng-repeat="sm in itemData.supportingMaterials"
                            ng-class="{true: 'active', false:''}[currentSm==sm]">
                                <a ng-click="changeSupportingMaterialPanel(sm)">
                                        {{sm.name}} </a>
                            </li>


                            <li class="prev-print">
                                <a class="prev-print" ng-click="printCurrent()">
                                    <img src="/assets/images/print.png" alt="Print"/>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>


            <div id='itemView' class="preview-container" ng-show="currentPanel=='item'" >
                @Html(params.xml)
            </div>

            <div id='supportingMaterialView' class="preview-container" ng-repeat="sm in itemData.supportingMaterials"
            ng-show="currentSm==sm">

                <iframe iframe-auto-height=""
                frameBorder="0"
                src="{{getSmSrc(sm)}}"
                style="width: 100%; min-height: 600px"
                scrolling="no"
                align="center">
                </iframe>
            </div>

            <div id='profileView' ng-show="currentPanel=='profile'" class="preview-container">
                <div class="container" style="width: 600px; margin-bottom: 50px;">
                    @web.views.html.partials._viewItem.corespringData()
                    @web.views.html.partials._viewItem.history()
                </div>
            </div>


        </div>

    </div>



