<div class="itemplayer-control-bar" ng-controller="ControlBarController">

  <div class="control-bar-head"> <a class="gear-icon" ng-click="showAdminOptions=!showAdminOptions">Manage Settings</a> </div>
  <div class="well" ng-show="showAdminOptions">
    <div class="admin-container">
      <div class="span2 admin-col" style="margin-left:5px">
        <div>Attempts</div>
        <input type="radio" int-type ng-model="itemSession.settings.maxNoOfAttempts" value="0">
        Multiple Attempts
        </input>
        <br/>
        <input type="radio" ng-model="itemSession.settings.maxNoOfAttempts" ng-validate="int" value="1">
        One Attempt
        </input>
      </div>
      <div class="span4 admin-col">
        <div>Feedback</div>
        <input type="checkbox"

                ng-model="itemSession.settings.highlightUserResponse">
        Highlight the student’s answer
        </input>
        <br/>
        <input type="checkbox"

                ng-model="itemSession.settings.highlightCorrectResponse">
        Highlight the correct answer
        </input>
        <br/>
        <input type="checkbox"

                ng-model="itemSession.settings.showFeedback">
        Show feedback for all answers (if available)
        </input>
        <br/>
        <input type="checkbox"

                ng-model="itemSession.settings.allowEmptyResponses">
        Accept incomplete work
        </input>
        <br/>
      </div>
      
      <div class="span1 admin-col"><a ng-click="reloadItem()" style="margin-top: 0px; margin-bottom: 0px;" class="btn btn-primary">Save Settings</a> 
      <div ng-show="settingsHaveChanged" style="margin-top: 5px;">
      <div class="alert alert-info"> <i class="icon-exclamation-sign"></i> You must save your settings before you can proceed</span> 
      </div>
      </div>
      

      
    </div><!--end container -->

  </div>
</div>
</div>