<div class="itemplayer-control-bar" ng-controller="ControlBarController">

    <div>
        <i ng-class="{ true: 'icon-arrow-down', false: 'icon-arrow-right'}[showAdminOptions]"></i>
        <a ng-click="showAdminOptions=!showAdminOptions"> Administrative Options</a>
        &nbsp;
        <i class="icon-refresh"></i><a ng-click="reloadItem()"> Reload Item</a>
    </div>
    <br/>

    <div class="well" ng-show="showAdminOptions">

        <div class="container">

            <div class="span2">
                <input type="radio" ng-model="itemSession.settings.maxNoOfAttempts" value="0"> Multiple Tries</input>
                <br/>
                <input type="radio" ng-model="itemSession.settings.maxNoOfAttempts" value="1"> Single Try</input>
            </div>

            <div class="span4">
                <input type="checkbox"
                       ng-model="itemSession.settings.highlightUserResponse"> Highlight the student’s answer</input>
                <br/>
                <input type="checkbox"
                       ng-disabled="itemSession.settings.maxNoOfAttempts != 1"
                       ng-click="toggleHighlightCorrectResponse()"
                       ng-model="itemSession.settings.highlightCorrectResponse"> Highlight the correct answer</input>
                <br/>
                <input type="checkbox"
                       ng-model="itemSession.settings.showFeedback"> Show the feedback text for all answers (if available)</input>
                <br/>
                <input type="checkbox"
                       ng-model="itemSession.settings.allowEmptyResponses"> Accept incomplete work</input>
                <br/>
            </div>
        </div>
    </div>
</div>