@(itemBody:String)

@import testplayer.views.utils.QtiScriptLoader

@common.views.html.head.coreJs()
@common.views.html.head.ubuntu()
@common.views.html.head.bootstrap()
@common.views.html.head.angular()
@common.views.html.head.corespringCommon()

<script type="text/javascript" src="@testplayer.controllers.routes.ItemPlayer.javascriptRoutes"></script>

<script src="/assets/js/corespring/qti/app.js"></script>
<script src="/assets/js/corespring/qti/qtiServices.js"></script>
<script src="/assets/js/corespring/qti/directives/feedbackInline.js"></script>
<script src="/assets/js/corespring/qti/prototype.extensions/Array.js"></script>

@Html(QtiScriptLoader.load( itemBody ))
