@(itemBody: String)
<!doctype html>
<html ng-app="qti">
<head>
    <title>Scorm Test Player</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @common.views.html.partials.ieEightSupport()
    @testplayer.views.html.partials.scripts(itemBody)
    <script src="/assets/js/corespring/qti/controllers/ScormQtiAppController.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            $("#sendMessage").click(function(){

                if(parent){
                    parent.postMessage('hello from comm-test', '*');
                }
            });
        });

        window.addEventListener('message', messageHandler, true);

        function messageHandler(e) {
            //Not worrying about security on this side for now.
            alert('scorm-player ' + e.data + ' ' + e.origin);
        }

    </script>
</head>
<body ng-controller="QtiAppController">
    <a id="sendMessage">Send message</a>
    <hr/>
    @Html(itemBody)
</body>
</html>

