@(itemBody: String, itemId : String, sessionId : String = "")
<!doctype html>
<html ng-app="qti">
<head>
    <title>Scorm Test Player</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @common.views.html.partials.ieEightSupport()
    @testplayer.views.html.partials.scripts(itemBody)
    <script src="/assets/js/corespring/qti/controllers/ScormQtiAppController.js"></script>

    <script type="text/javascript">

        angular.module('qti.services').factory('Config', [function(){
            return {
                itemId : "@itemId",
                sessionId : "@sessionId"
            }
        }]);

        angular.module('qti.services').factory('ScormBridge', [function () {

          return {
            /**
             * send a message to the Scorm container
             * param: [messageObject, .... ]
             */
            sendMessage: function () {
              if (parent && parent != window) {
                for (var x in arguments) {
                  parent.postMessage(JSON.stringify(arguments[x]), "*");
                }
              } else {
                console.warn("Couldn't post message to parent - not found");
              }
            }
          }
        }]);


        function addMessageListener(fn) {
          if (window.addEventListener) {
            window.addEventListener('message', fn, true);
          }
          else if (window.attachEvent) {
            window.attachEvent('message', fn);
          }
          else {
            throw "couldn't add message listener";
          }
        }

        addMessageListener(messageHandler);

        function messageHandler(e) {
          //Not worrying about security on this side for now.
          alert('scorm-player ' + e.data + ' ' + e.origin);
        }

    </script>
</head>
<body ng-controller="QtiAppController" style="padding: 20px;">
@Html(itemBody)
</body>
</html>

