<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="jQuery.XDomainRequest.js"></script> 

    <script type="text/javascript">

        $(document).ready( function(){

            //jQuery.support.cors = true; // force cross-site scripting (as of jQuery 1.5)

        var request = {
            url: 'http://app.corespring.org/example-content/items',
            type: 'GET',
            dataType: "json",
            crossDomain: true,
            //cache:false,
            success: function( result ) { console.log(result) },
            error: function(jqXHR, textStatus, errorThrown){ 
                console.log("error")
            }
          };
            $.ajax(request);
        



        });

    </script>

    <title>Collections</title>
</head>

<body>

<!--header starts here -->
<div class="header-wrap">
  <div class="page">
        <header class="header">
        
            
            
            <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            
       <nav class="nav">
                <div class="navbar">
                    <div class="">
                        <div class="container">
                                
                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li ><a class="active" href="collection.html">collection</a></li>
                                    <li><a href="partnerships.html">partnerships</a></li>
                                     <li><a href="team.html">team</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>
<!--header ends -->

<div class="title-wrap title-single">
  <div class="container">
      <div class="title">
          <h1>Take a Peak</h1>
        </div>
    </div>
</div>


<!--main contents area starts here -->
<div class="main-wrap">
    <div class="container">
        <div class="main">
            
            <div class="row">
                <div class="span2">&nbsp;</div>
                <div class="span30">
                    <p class="lead-in">
                       We're focusing on quality and innovation. All items in CoreSpring's open collections are reviewed by content experts to make sure that they are well aligned to the information important to guide teaching and learning. We also want to support the use of innovative item types that push toward college readiness. CoreSpring currently delivers the majority of innovative item types that were recently released by the PARCC Consortium and are expanding our capability to offer even more. You can browse some of the samples from the Mathematics, English Language Arts and Literacy, and Science Collections below. Our test player will give you confidence that the item will always display the way it's designed. With CoreSpring, what you see is what you get.  
 </p>
</div>
</div>

  
<!-- items -->

<div ng-app="app">
    <div ng-controller="ListItems">

        <div ng-repeat="i in items" style="padding-bottom: 12px;">

            <div class="well">
                <h4 style="font-weight: 300; line-height: 22px;" ng-bind-html-unsafe="i.title"></h4>
                <br/>
                <a class="btn btn-success fancybox" data-fancybox-type="iframe" href="http://app.corespring.org/web/item-preview/{{i.id}}" target="_blank">Preview</a>
                <a class="btn btn-primary fancybox" data-fancybox-type="iframe" href="http://app.corespring.org/testplayer/item/{{i.id}}/run?access_token=34dj45a769j4e1c0h4wb" target="_blank">Play it!</a>
            </div>

         </div>    
        <!--
        <div ng-repeat="item in items">
            {{item.id}}<br/>
        </div>
    -->
    </div>

</div>


<!--main content area (except header,footer) ends -->



<!--footer area starts here -->
<div class="footer-wrap">
  <div class="page">
        <footer class="footer">
          &copy; 2012  CoreSpring 
        </footer>
    </div>
</div>
<!--footer ends-->



</body>
</html>