.focus-container {
    width: 512px;
    height: auto;
    display: table;
    background-color: #fff;
    border-spacing: 15px;
    table-layout: fixed;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.focus-row {
    width: 100%;
    height: 100%;
    display: table-row;
}

.focus-element {
    width: 90px;
    height: 90px;
    display: table-cell;
    color: #fff;
    background: #CCC;
    border: 2px solid #BFBFBF;
    vertical-align: middle;
    text-align: center;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
    max-width: 94px;
}

.focus-element.square {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.focus-element.circle {
    -moz-border-radius: 94px;
    -webkit-border-radius: 94px;
    border-radius: 94px;
}
