@(isPrintMode:Boolean, tab:String)(params: org.corespring.player.v1.views.models.PlayerParams)

@import org.corespring.player.v1.views.qti.QtiAssetsLoaderImpl

@assessmentPage() = @{
  if(isPrintMode) "student-assessment-page" else "assessment-page"
}

<!DOCTYPE html>
<html ng-app='qti' dimensions-checker>
<head>
        @org.corespring.web.common.views.html.partials.ieEightSupport()
        @partials.scripts(params.xml,  new QtiAssetsLoaderImpl(params.qtiKeys, params.mode))

        <link href="/assets/stylesheets/nav.css" rel="stylesheet"/>
        <link href="/assets/stylesheets/profile.css" rel="stylesheet"/>

        <script type="text/javascript" src="@org.corespring.player.v1.controllers.routes.Item.jsRoutes"></script>

        <script src="/assets/js/vendor/jquery-plugins/jquery.iframe-auto-height.plugin.1.9.0.min.js" type="text/javascript"></script>
        <script src="/assets/js/corespring/common/services/Item.js"></script>
        <script src="/assets/js/corespring/ProfileController.js"></script>

        @partials.angularConfig(params, ("tab" -> tab))

        <script src="/assets/js/corespring/qti/controllers/QtiAppController.js"></script>

    </head>

<body>

    <div class="itemProfile">
        <div ng-controller="ProfileController">

            @if(tab=="") {
                <div class="sub-nav" style="position: relative">
                    <div class="container" style="width: 600px;">
                        <div class="row">
                            <ul class="nav nav-tabs">

                                <li ng-class="{true: 'active', false:''}[currentPanel=='profile']">
                                    <a ng-click="changePanel('profile')"> Profile </a>
                                </li>

                                <li ng-class="{true:'active', false:''}[currentPanel=='item']">
                                    <a ng-click="changePanel('item')"> Preview </a>
                                </li>

                                <li ng-repeat="sm in itemData.supportingMaterials"
                                  ng-class="{true: 'active', false:''}[currentSm==sm]">
                                    <a ng-click="changeSupportingMaterialPanel(sm)">{{sm.name}}</a>
                                </li>
                                <li class="prev-print">
                                    <a class="prev-print" ng-click="printCurrent()">
                                        <img src="/assets/images/print.png" alt="Print"/>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            }

            <div id='itemView' class="iframe-600-centered" ng-show="currentPanel=='item'" ng-controller='QtiAppController' show-when-loaded hide-when-loaded="#preloader">
                <div ng-show="!printMode">
                    @partials.controlBar()
                </div>
                @if( !isPrintMode ){
                  <div class="student-view-header" ng-class="{true: 'fade-out', false: ''}[settingsHaveChanged]">Student View</div>
                }
                <div class="@assessmentPage()" ng-class="{true: 'fade-out', false: ''}[settingsHaveChanged]">
                    @Html(params.xml)
                </div>

            </div>

            <div id='supportingMaterialView' class="preview-container" ng-repeat="sm in itemData.supportingMaterials"
            ng-show="currentSm==sm">

                <iframe iframe-auto-height
                frameBorder="0"
                ng-src="{{getSmSrc(sm)}}"
                align="center">
                </iframe>
            </div>

            <div id='profileView' ng-show="currentPanel=='profile'" class="preview-container">
                <div class="container" style="width: 100%">
                    @org.corespring.web.common.views.html.viewItem.corespringData(itemId = params.itemId)
                    @org.corespring.web.common.views.html.viewItem.history()
                </div>
            </div>



        </div>

    </div>



</body>


