<div class="sub-nav sub-nav-lower sub-nav-create-item">
    <div class="container-fluid">
    <ul class="nav nav-pills">
      <li>
        <span class="item-back-to-search"><a ng-click="backToCollections()">
        <i class="icon-white icon-backward"></i> back to search results
        </a></span>
      </li>
      <li><button class="btn btn-primary save-btn" ng-disabled="!hasChanges"  ng-click="saveBackToItem()"><i class="fa fa-save "></i> Save</button></li>
      <li>
          <span class="save-message"><span class="hidden" ng-class="{hidden: !isSaveDone}">All changes have been saved</span></span>
      </li>
           
      <li><span class="item-base-id"><b>ID:</b>  {{baseId}}</span>
      </li>
      <li><span class="revision-version"><b>Revision:</b>  {{version}}</span></li>

      <li class="pull-right">
        <div class="dropdown actions-dropdown" id="menu2">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#menu2">
            Select an action
            <b class="caret"></b>
          </button>
          <ul class="dropdown-menu dropdown-menu-actions">
            <li><button class="btn btn-sm" ng-click="clone()"><i class="fa fa-copy"></i>&nbsp;clone</button></li>
            <li><button class="btn btn-info btn-sm" ng-show="!item.published" ng-click="publish()"><i class="fa fa-bolt"></i>&nbsp;publish</button></li>
          </ul>
        </div>
      
        <span ng-show="!devEditorVisible"><a ng-click="showDevEditor()">Dev Editor</a></span>
        <span ng-show="devEditorVisible"><a ng-click="showEditor()"><i class="icon-white icon-backward"></i> Exit the Dev Editor</a></span>
      </li>
   </ul>
</div>
</div>

<div class="edit-container">
  <div class="conflict-pane" ng-show="showConflictError">
  	<div class="well">
  	  <h3>Your changes are out of date!</h3>
  	  <p>This item has been updated since you started editing it.<br/>
  	  What would you like to do?</p>
  	  <a ng-click="ignoreConflict()" class="btn btn-warning">Continue</a>
  	  <a ng-click="discard()" class="btn btn-primary">Discard my changes</a>
  	  <br/>
  	  <br/>
  	  <div class="alert alert-warning" role="alert">If you continue, you can save but you'll overwrite the changes that have been made.</div>
  	</div>
  </div>

  <div class="item-iframe-container" ng-show="!showConflictError">
     <iframe frameborder="0" ng-src="{{v2Editor}}"></iframe>
  </div>
</div>

