<div class="sub-nav sub-nav-lower">
    <div class="container" style="width: 940px;">
        <a ng-click="backToCollections()" class="back-to-collections" >
          <i class="icon-white icon-backward"></i>
        </a>
        <div class="row">
            <div class="pull-right">
                <label style="padding-top:5px; padding-right:5px;" ng-show="isPublished">, version:{{itemVersion}}</label>
                <button class="btn btn-success"
                    ng-click="clone()"><i class="icon-plus-sign"></i>&nbsp;Clone</button>
            </div>
        </div>
    </div>
</div>

<div class="edit-container">
	<div class="item-iframe-container">
	    <iframe frameborder="0" ng-src="{{v2Editor}}"></iframe>
	</div>
</div>