@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader)

@import helper._
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@main("Login") {
    <div class="container-fluid">
        <div  style="position: relative; top: 100px;">
            <p class="text-center">
                <a href="/"><img src="/assets/images/logo2015.png" alt="Corespring"/></a>
                <br /><br />
            </p>
            <div class="well col-md-4 col-md-offset-4">
               
                <h4>Login</h4>
                @errorMsg.map { msg =>
                <div class="alert alert-error">
                    @Messages(msg)
                </div>
                }

                @request.flash.get("success").map { msg =>
                <div class="alert alert-info">
                    @msg
                </div>
                }

                @request.flash.get("error").map { msg =>
                <div class="alert alert-error">
                    @msg
                </div>
                }

                @developer.views.html.provider("userpass", Some(loginForm))

            </div>
        </div>
    </div>
}





