@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader)

@import helper._
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@main("Login") {
    <div class="container" style="width: 960px;">
        <div class="well" style="position: relative; top: 100px; width:500px;">

            <h3>Login</h3>
            <br/>
            @errorMsg.map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
            }

            @request.flash.get("success").map { msg =>
            <div class="alert alert-info">
                @msg
            </div>
            }

            @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @msg
            </div>
            }

            @developer.views.html.provider("userpass", Some(loginForm))
            <h6>Or login with: </h6>
            @securesocial.views.html.provider("twitter")
            @securesocial.views.html.provider("google")

        </div>
    </div>
}





