@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@title</title>
    @org.corespring.web.common.views.html.head.ubuntu()
    @org.corespring.web.common.views.html.head.coreJs()
    @org.corespring.web.common.views.html.head.mathMl()
    <!-- TODO: move to 2.1.1 -->
    @org.corespring.web.common.views.html.head.bootstrap("2.0.3")
    @org.corespring.web.common.views.html.head.angular()
    @org.corespring.web.common.views.html.head.select2()
    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>

</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"> <img src="/assets/images/cs-white-logo-11px.png" alt="Corespring Content Tagger"/></a>
        </div>
    </div>
</div>


<!--main contents area starts here -->
<div class="main-wrap">
    @content
</div>

</body>
</html>





