@(clientId: String, clientSecret: String, orgName: String)
@headContent = {
<script type="text/javascript" src="/developer/js/corespring/orgs-app.js"></script>
}

@content = {
    <div class="title-wrap">
    </div>

    <div class="nav-bar">
    </div>


    <div style="width: 600px; margin: auto">

    <div class="row">
        <h2>Organization: @{orgName}</h2>
        <p class="lead">
            Below is your client ID and Secret for accessing the CoreSpring Api. <br/>
            See the <a href="/developer/home">api documentation</a> to get started.
        </p>
    </div>
    <br />
    <div class="well">
        <br />
        <div class="row">
            <p><span class="span2">ClientID:</span> @{clientId}</p>
        </div>
        <div class="row">
            <p><span class="span2">Client Secret:</span>
                @{clientSecret}</p>
        </div>
    </div>
    </div>
}

@_root_.web.views.html.main("Organizations")(content, headContent)