@(user:_root_.securesocial.core.SocialUser)
@headContent = {
    <script type="text/javascript" src="/developer/js/corespring/orgs-app.js"></script>
}

@content = {

<div class="title-wrap">
</div>
<div class="nav-bar">
</div>
<div class="container main-wrap" ng-app="dev-orgs-app" ng-controller="DeveloperOrgsController">
    <p>Hi @user.fullName,</p>
    <p>Please enter the name of the organization you'd like to create below:</p>
    <div>
        <input class="span3" type="text" placeholder="Organization name..." ng-model="orgName"/>
        <br/><br/>
        <button class="btn btn-primary" type="button" ng-click="addOrg(orgName)">Create Organization</button>
    </div>
</div>
}

@_root_.web.views.html.main("Organizations")(content, headContent)
