@(user:_root_.securesocial.core.SocialUser)
@headContent = {
    <script type="text/javascript" src="/developer/js/corespring/orgs-app.js"></script>
}

@content = {

<div class="title-wrap">
</div>
<div class="nav-bar">
    <span>hi @user.fullName</span>
</div>
<div class="container main-wrap" ng-app="dev-orgs-app" ng-controller="DeveloperOrgsController">
    <div class="input-append">
        <input class="span2" type="text" placeholder="Organization name..." ng-model="orgName"/>
        <button class="btn" type="button" ng-click="addOrg(orgName)">Add Organization</button>
    </div>
    <div class="span12 intro">
        <h5>Your Organizations:</h5>

        <div ng-repeat="o in orgs">
            <a ng-href="/developer/orgs/{{o.id}}"><span>{{o.name}}</span></a>
        </div>
    </div>
</div>
}

@_root_.web.views.html.main("Organizations")(content, headContent)
