@(resetForm:Form[(String, String)], token: String)(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(developer.views.html.inputFieldConstructor.f) }

@main(Messages("securesocial.password.title")) {
    <div class="container-fluid">
        <div class="well col-md-4 col-md-offset-4" style="position: relative; top: 100px;">

            <h3>Reset Password</h3>

            @request.flash.get("error").map { msg =>
                <div class="alert alert-error">
                    @Messages(msg)
                </div>
            }

            <form action="@securesocial.core.providers.utils.RoutesHelper.handleResetPassword(token).absoluteURL(IdentityProvider.sslEnabled)"
                  class="form-horizontal"
                  autocomplete="off"
                  method="POST"
            >
                <fieldset>
                    @helper.inputPassword(
                    resetForm("password.password1"),
                    '_label -> Messages("securesocial.signup.password1"),
                    'class -> "form-control"
                    )

                    @helper.inputPassword(
                    resetForm("password.password2"),
                    '_label -> Messages("securesocial.signup.password2"),
                    'class -> "form-control"
                    )

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">@Messages("securesocial.password.reset")</button>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>

}

