@(templates: List[_root_.org.corespring.platform.core.models.web.QtiTemplate] = Nil,  username : String = "", root : String = "/web" )
<div class="navbar navbar-fixed-top" ng-controller="MainNavController">
    <div class="navbar-inner" style="padding-bottom: 0px; padding-top:0px;">
        <div class="container-fluid">
            <a class="brand" href="@root">
                <img src="/assets/images/cs-white-logo-11px.png"
                                            alt="Corespring"/></a>


            @if( username != "" && username != null){

                <span class="pull-right" style="padding-left: 10px; padding-top: 10px;">hi @username&nbsp;
                    <a class="logout-icon" title="logout" href="/logout"><i class="icon-share icon-white"></i></a>
                </span>
                <ul id="resultPager"
                  class="nav pull-right"
                  result-pager
                  load-item="goToItem"
                  load-more="loadMore"
                  list-model="items"
                  item-count="resultCount"
                  current-item="itemData"
                  >
                    <li>
                        <div class="pager">
                            <div ng-show="pagerText" class="muted pager-text">{{pagerText}} items</div>
                            <div class="progress progress-success progress-striped
                                 active pager-progress-bar" network-progress ng-show="isLoading">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </li>
                    <li ng-show="editViewOpen">
                        <a class="cs-icon-link" ng-show="pagerText" style="float:left;" ng-click="previous()" ><i class="icon-white icon-arrow-left"></i></a>
                        <a class="cs-icon-link" ng-show="pagerText" style="float:left;" ng-click="next()" ><i class="icon-white icon-arrow-right"></i></a>
                    </li>
                </ul>
                <span class="nav pull-right">
                    <a ng-click="createItem()">Create Item</a>
                </span>
                <span class="nav pull-right">
                    <a style="color: white; text-decoration: underline;" ng-click="uiState.showCollectionsPane = !uiState.showCollectionsPane">Manage Collections</a>
                </span>
            }

        </div>
    </div>
</div>
