@html = {
@web.views.html.partials.common.simpleInput("contributor")
@web.views.html.partials.common.simpleInput("copyrightOwner")
@web.views.html.partials.common.simpleInput("author")

<div class="control-group">
    <label class="control-label">Credentials</label>

    <div class="controls">
        <select
                ng-model="itemData.credentials"
                ng-options="c for c in itemData.$credentialsDataProvider">
            <option value=""> </option>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="sourceUrl">Source URL</label>

    <div class="controls">
            <input class="input"
                   id="sourceUrl"
                   size="16"
                   type="text"
                   ng-model="itemData.sourceUrl">
    </div>
</div>
<div class="control-group">
    <label class="control-label">License Type</label>

    <div class="controls">
        <select
                ng-model="itemData.licenseType"
                ng-options="c for c in itemData.$licenseTypeDataProvider">
            <option value=""> </option>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Copyright Year</label>
    <div class="controls form-inline">
       <input type="text" class="input-medium" ng-model="itemData.copyrightYear">
        &nbsp;
        &nbsp;
       <label>Copyright Expiration Date</label>
        &nbsp;
        &nbsp;
        <input type="text" class="input-medium" ng-model="itemData.copyrightExpirationDate">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="costForResource">Cost for Resource</label>
    <div class="controls">
        <div class="input-prepend input-append">
            <span class="add-on">$</span><input class="input-small" id="costForResource" size="16"
                                                type="text" ng-model="itemData.costForResource"><span
                class="add-on">.00</span>
        </div>
    </div>
</div>
}
@_formWithLegend( html, "Contributor Details")

