<div class="control-group">
    <label class="control-label">Item Type</label>

    <div class="span5">
        <label class="radio" ng-repeat="t in itemData.$itemTypeDataProvider">
            <input type="radio" ng-model="itemData.itemType" value="{{t.value}}"/>
            {{t.key}}
        </label>
        <label class="radio">
            <input type="radio" ng-model="itemData.itemType" value="{{otherItemType}}"/>
            Other
        </label>
        <label class="input-medium">
            <input type="text" ng-model="otherItemType" ng-change="updateItemType()"></input>
        </label>
    </div>
</div>

