<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/custom-colors/app.css">
    <link rel="stylesheet" href="/assets/js/vendor/angular-bootstrap-colorpicker/css/colorpicker.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/js/vendor/angular/1.0.3/angular.min.js"></script>
    <script src="/assets/js/vendor/angular-bootstrap-ui/angular-bootstrap-ui.min.js"></script>
    <script src="/assets/js/vendor/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="/assets/js/vendor/lodash/4.11.1/lodash.js"></script>

    <script src="/assets/js/corespring/custom-colors/app.js"></script>
    <script src="/assets/js/corespring/custom-colors/display-provider.js"></script>
    <script src="/assets/js/corespring/custom-colors/switcher.js"></script>
    <script src="/assets/js/corespring/custom-colors/color-tools.js"></script>
    <script src="/assets/js/corespring/custom-colors/svg-icon.js"></script>
    <script src="/assets/js/corespring/custom-colors/choice-icon.js"></script>
    <script src="/assets/js/corespring/custom-colors/switcher-ctrl.js"></script>
  </head>
  <body ng-app="pocApp" ng-controller="SwitcherCtrl">
    <switcher config="config"></switcher>
    <ul class="svg-icons">
      <li><svg-icon key="incorrect" shape="round" icon-set="{{config.iconSet}}"></svg-icon></li>
      <li><svg-icon key="incorrect" shape="round" icon-set="{{config.iconSet}}" text="This is feedback"></svg-icon></li>
      <li><svg-icon key="correct" shape="round" icon-set="{{config.iconSet}}"></svg-icon></li>
      <li><svg-icon key="correct" shape="round" icon-set="{{config.iconSet}}" text="This is feedback"></svg-icon></li>
      <li><svg-icon key="partially-correct" shape="round" icon-set="{{config.iconSet}}"></svg-icon></li>
      <li><svg-icon key="partially-correct" shape="round" icon-set="{{config.iconSet}}" text="This is feedback"></svg-icon></li>
      <li><svg-icon key="incorrect" shape="square" icon-set="{{config.iconSet}}"></svg-icon></li>
      <li><svg-icon key="incorrect" shape="square" icon-set="{{config.iconSet}}" text="This is feedback"></svg-icon></li>
      <li><svg-icon key="correct" shape="square" icon-set="{{config.iconSet}}"></svg-icon></li>
      <li><svg-icon key="correct" shape="square" icon-set="{{config.iconSet}}" text="This is feedback"></svg-icon></li>
      <li><svg-icon key="partially-correct" shape="square" icon-set="{{config.iconSet}}"></svg-icon></li>
      <li><svg-icon key="partially-correct" shape="square" icon-set="{{config.iconSet}}" text="This is feedback"></svg-icon></li>
    </ul>
    <ul class="choice-icons">
      <li><choice-icon class="animate-show icon" shape="radio" key="selected"></choice-icon></li>
      <li><choice-icon class="animate-hide icon" shape="radio" key="muted"></choice-icon></li>
      <li><choice-icon class="animate-show icon" shape="radio" key="correct"></choice-icon></li>
      <li><choice-icon class="animate-show icon" shape="radio" key="incorrect"></choice-icon></li>
    </ul>
  </body>
</html>