<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="example-content">
<head>
    <title>Example Content</title>
    <meta name="description" content="CoreSpring Content Tagger"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    @head.mathMl()
    @head.coreJs()
    @head.bootstrap()
    @head.angular()

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
    <script type="text/javascript">

        angular.module('example-content', []);
        function ExampleContentController($scope, $http, $timeout){

            $http.get("/example-content/items").success( function(result){
                $scope.items = result;

                $timeout(function () {
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                }, 200);
            })
        }
        ExampleContentController.$inject = ['$scope', '$http', '$timeout'];
    </script>
</head>
<body ng-controller="ExampleContentController">
@mainNav()
<div class="container" style="padding-top: 90px;">
    <h3>Example Content</h3>

    <div ng-repeat="i in items" style="padding-bottom: 12px;">

        <div class="well">
            <h4 style="font-weight: normal; line-height: 22px;" ng-bind-html-unsafe="i.title"></h4>
            <br/>
            <a class="btn btn-success" ng-href="/web/item-preview/{{i.id}}">Preview</a>
            <a class="btn btn-primary" ng-href="/testplayer/item/{{i.id}}/run?access_token=34dj45a769j4e1c0h4wb">Test Player</a>
        </div>

    </div>


</div>
</body>
</html>
