<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/js/vendor/angular/1.0.3/angular.min.js"></script>
    <script src="/assets/js/vendor/angular-bootstrap-ui/angular-bootstrap-ui.min.js"></script>
    <script src="/assets/js/vendor/lodash/4.11.1/lodash.js"></script>
    <script src="/assets/js/vendor/spectrum/1.8.0/spectrum.js"></script>

    <link href="/assets/bootstrap/2.0.3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/assets/js/vendor/spectrum/1.8.0/spectrum.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/custom-colors/app.css">

    <script src="/assets/js/corespring/custom-colors/app.js"></script>
    <script src="/assets/js/corespring/custom-colors/directives/_declaration.js"></script>
    <script src="/assets/js/corespring/custom-colors/directives/display-provider.js"></script>
    <script src="/assets/js/corespring/custom-colors/directives/choice-icon.js"></script>
    <script src="/assets/js/corespring/custom-colors/directives/color-tools.js"></script>
    <script src="/assets/js/corespring/custom-colors/directives/svg-icon.js"></script>
    <script src="/assets/js/corespring/custom-colors/directives/switcher.js"></script>
    <script src="/assets/js/corespring/custom-colors/controllers/switcher-ctrl.js"></script>
  </head>
  <body ng-app="customColors" ng-controller="SwitcherCtrl">
    <switcher config="config"></switcher>
  </body>
</html>