@(templates: List[_root_.org.corespring.platform.core.models.web.QtiTemplate], 
dbServer : String, 
dbName : String, 
user:org.corespring.platform.core.models.User, 
userOrg: org.corespring.platform.core.models.Organization )

@import web.views.helpers.MainHelper

<!DOCTYPE html>
<html lang="en" ng-app="tagger" xmlns="http://www.w3.org/1999/html" ng-controller="RootController">
<head>
    <meta charset="utf-8">
    <title>@dbName | Corespring</title>
    <meta name="description" content="CoreSpring Content Tagger"/>

    @org.corespring.web.common.views.html.head.ubuntu()

    @org.corespring.web.common.views.html.head.newRelicRumJsAgent()
    @org.corespring.web.common.views.html.head.coreJs()
    @org.corespring.web.common.views.html.head.mathMl()
    <!-- TODO: move to 2.1.1 -->
    <!-- DONE:  moved to 3.3.4 -->
    @org.corespring.web.common.views.html.head.bootstrap("3.3.4")
    @org.corespring.web.common.views.html.head.angular()
    @org.corespring.web.common.views.html.head.select2()
    @org.corespring.web.common.views.html.head.aceEditor()
    @org.corespring.web.common.views.html.head.corespringCommon()
    @org.corespring.web.common.views.html.head.fieldValues()
    @org.corespring.web.common.views.html.head.corespringNgComponents()
    @web.views.html.taggerApp()

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
    <link href="/assets/stylesheets/item-chooser.css" rel="stylesheet"/>

    <script type="text/javascript">

        //init the bootstrap dropdowns - TODO: make this a directive?
        $('.dropdown-toggle').dropdown();

        angular.module('tagger-context', []);
        angular.module('tagger-context')
                .factory('UserInfo', function(){
                    return {
                        userName: "@user.userName",
                        fullName: "@user.fullName",
                        org: @MainHelper.toFullJson(userOrg)
                    }

                });

        /**
         * Templates Service - provides some xml templates for common types.
         */
        angular.module('templates', []);

        angular.module('templates').factory('NewItemTemplates', function () {
            var data = {};

            data["blank"] = {
                label: "blank",
                xmlData: ""
            }

            @templates.map{ template =>
             data["@template.code"] = {
                label: "@template.label",
                xmlData: "@MainHelper.safeXml(template.xmlData)"
             }
            }
            return data;
        });

    </script>

</head>
<body>

    @org.corespring.web.common.views.html.mainNav(templates, user.fullName)

 
  <div class="error-box" ui-modal ng-model="showErrorBox">
    <h3>An error has occured</h3>
    <div class="sub-type">{{errorSubType}}</div>
    <br/>
    <button class="btn btn-success btn-xs show-details" ng-click="showDetails = !showDetails">Details</button>
    <br/>
    <div class="error-details" ng-show="showDetails">
      <div>{{errorDetails}}</div>
    </div>
    <div class="use-id">If you believe this is a system error please use this id when reporting: {{errorUid}}</div>
    <br/>
    <button class="btn btn-info acknowledge-button" ng-click="errorAcknowledged()">Ok</button>
  </div>
    <div ng-view class="extra-large-window"></div>

<div ui-modal ng-model="modals.delete.show" style="padding: 20px">
    <h2>Delete Item</h2>
    <br/>
    <p>Are you sure? This can't be undone.</p>
    <button class="btn" ng-click="modals.delete.done(true)">Cancel</button>
    <button ng-click="modals.delete.done()" class="btn btn-danger">Delete</button>
</div>

<div ui-modal ng-model="modals.edit.show" style="padding: 20px">
  <h2>Edit</h2>
  <br/>
  <p>Are you sure? This means that the changes won't be live until you click 'Publish'</p>
  <button class="btn" ng-click="modals.edit.done(true)">Cancel</button>
  <button ng-click="modals.edit.done()" class="btn btn-primary">Edit</button>
</div>

<div ui-modal ng-model="modals.publish.show" style="padding: 20px">
  <h2>Publish</h2>
  <br/>
  <p>Are you sure? This means that the item will be live in your collection and will be ready for selection and use.</p>
  <button class="btn" ng-click="modals.publish.done(true)">Cancel</button>
  <button ng-click="modals.publish.done()" class="btn btn-primary">Publish</button>
</div>


</body>
</html>
