@(templates: List[_root_.org.corespring.platform.core.models.web.QtiTemplate], dbServer : String, dbName : String, username:String, userOrg: org.corespring.platform.core.models.Organization )

@import web.views.helpers.MainHelper

<!DOCTYPE html>
<html lang="en" ng-app="tagger" xmlns="http://www.w3.org/1999/html" ng-controller="RootController">
<head>
    <meta charset="utf-8">
    <title>@dbName | Corespring</title>
    <meta name="description" content="CoreSpring Content Tagger"/>

    @org.corespring.web.common.views.html.head.ubuntu()
    @org.corespring.web.common.views.html.head.coreJs()
    @org.corespring.web.common.views.html.head.mathMl()
    <!-- TODO: move to 2.1.1 -->
    @org.corespring.web.common.views.html.head.bootstrap("2.0.3")
    @org.corespring.web.common.views.html.head.angular()
    @org.corespring.web.common.views.html.head.select2()
    @org.corespring.web.common.views.html.head.aceEditor()
    @org.corespring.web.common.views.html.head.corespringCommon()
    @org.corespring.web.common.views.html.head.fieldValues()
    @org.corespring.web.common.views.html.head.corespringNgComponents()
    @web.views.html.taggerApp()

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
    <link href="/assets/stylesheets/item-chooser.css" rel="stylesheet"/>

    <script type="text/javascript">

        //init the bootstrap dropdowns - TODO: make this a directive?
        $('.dropdown-toggle').dropdown();

        angular.module('tagger-context', []);
        angular.module('tagger-context')
                .factory('UserInfo', function(){
                    return {
                        userName: "@username",
                        org: @MainHelper.toFullJson(userOrg)
                    }

                });

        /**
         * Templates Service - provides some xml templates for common types.
         */
        angular.module('templates', []);

        angular.module('templates').factory('NewItemTemplates', function () {
            var data = {};

            data["blank"] = {
                label: "blank",
                xmlData: ""
            }

            @templates.map{ template =>
             data["@template.code"] = {
                label: "@template.label",
                xmlData: "@MainHelper.safeXml(template.xmlData)"
             }
            }
            return data;
        });

    </script>

</head>
<body>

    @org.corespring.web.common.views.html.mainNav(templates, username)


    <div ng-view class="extra-large-window"></div>
</body>
</html>
