@(templates: List[_root_.web.models.QtiTemplate], dbServer : String, dbName : String, username:String, accessToken:String)

@htmlSafe(s:String) = @{
    var out = s.replace("\\", "\\\\")
    out = out.replace("\n", "\\n")
    out = out.replace("\"", "\\\"")
    Html(out)
}

<!DOCTYPE html>
<html lang="en" ng-app="tagger" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>@dbName | Corespring</title>
    <meta name="description" content="CoreSpring Content Tagger"/>

    @common.views.html.head.ubuntu()
    @common.views.html.head.coreJs()
    @common.views.html.head.mathMl()
    <!-- TODO: move to 2.1.1 -->
    @common.views.html.head.bootstrap("2.0.3")
    @common.views.html.head.angular()
    @common.views.html.head.select2()
    @common.views.html.head.aceEditor()
    @common.views.html.head.corespringCommon()
    @common.views.html.head.fieldValues()
    @common.views.html.head.corespringNgComponents()
    @head.taggerApp()

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>


    <script type="text/javascript">

        //init the bootstrap dropdowns - TODO: make this a directive?
        $('.dropdown-toggle').dropdown();

        /**
         * Templates Service - provides some xml templates for common types.
         */
        var templatesService = angular.module('templates', []);

        templatesService.factory('NewItemTemplates', function () {
            var data = {};

            data["blank"] = {
                label: "blank",
                xmlData: ""
            }

            @templates.map{ template =>
             data["@template.code"] = {
                label: "@template.label",
                xmlData: "@htmlSafe(template.xmlData)"
             }
            }
            return data;
        });

        //Set the AccessToken service for the logged in user.
        angular.module('tagger.services')
           .factory('AccessToken', [ function () {
              return { token: "@accessToken" };
            }]
        );

    </script>

</head>
<body>

    @mainNav(templates, username)

    <div ng-view class=""></div>
</body>
</html>
