@(itemId:String, accessToken : String = null )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="item-preview">
<head>
    <title>Item Preview</title>
    <meta name="description" content="CoreSpring Content Tagger"/>

    @import common.views.html.head._
    @ubuntu()
    @coreJs()
    @mathMl()
    @bootstrap()
    @angular()
    @corespringCommon()
    
    @head.previewApp()


    <script type="text/javascript">

        angular.module('tagger.services')
                .factory('Config', [ function () {
            return {
                accessToken:"@accessToken",
                itemId:"@itemId"
            };
        }]
        );

    </script>
  
    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
    <link media="all" type="text/css" rel="stylesheet" href="/assets/public/css/bootstrap-overrides.css"> <!--JM ADDED 12-14 TODO -- REMOVE AND CONSOLIDATE THAT FILE -->
    <script src="/assets/js/vendor/corespring-ng-components/corespring-ng-components.js" type="text/javascript" ></script>
</head>
<body ng-controller="PreviewController">

<div class="sub-nav" style="z-index: 10">
    <div class="container" style="width: 600px;">
        <div class="row">
            <ul class="nav nav-tabs">

                <li ng-class="{true: 'active', false:''}[currentPanel=='profile']">
                    <a ng-click="changePanel('profile')">Profile</a>
                </li>

                <li ng-class="{true:'active', false:''}[currentPanel=='item']" ng-show="itemData">
                    <a ng-click="changePanel('item')">Preview</a>
                </li>

                <li ng-repeat="sm in itemData.supportingMaterials"
                    ng-class="{true: 'active', false:''}[currentSm==sm]">
                    <a ng-click="changeSupportingMaterialPanel(sm)">{{sm.name}}</a>
                </li>


                <li class="prev-print" ng-show="itemData">
                    <a class="prev-print" ng-click="printCurrent()" >
                        <img src="/assets/images/print.png" alt="Print"/>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>


    <div id='itemView' class="item-preview-container"
            ng-show="currentPanel=='item'" >
        <iframe frameBorder="0"
            class="item-preview-iframe"
            ng-show="itemData" ng-src="{{getItemUrl()}}"> </iframe>
    </div>

    <div id='supportingMaterialView' class="item-preview-container"
         ng-repeat="sm in itemData.supportingMaterials"
         ng-show="currentSm==sm">
        <iframe
                frameBorder="0"
                ng-src="{{getSmSrc(sm)}}"
                align="center"
                class="item-preview-iframe"></iframe>
    </div>

    <div id='profileView' ng-show="currentPanel=='profile'" class="item-preview-container">
        <div class="container" style="width: 600px; margin-bottom: 50px;" ng-show="itemData">
            @web.views.html.partials._viewItem.corespringData()
            @web.views.html.partials._viewItem.history()
        </div>
        <div class="container" style="width: 600px; margin-bottom: 50px;" ng-show="noRightToView">
            <br/>
            You have insufficient privilege to view this item
        </div>
    </div>


</body>
</html>
