@(itemId:String, accessToken : String )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="item-preview">
<head>
    <title>Item Preview</title>
    <meta name="description" content="CoreSpring Content Tagger"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    @head.coreJs()
    @head.mathMl()
    @head.bootstrap()
    @head.angular()
    @head.previewApp()


    <script type="text/javascript">

        angular.module('tagger.services')
                .factory('Config', [ function () {
            return {
                accessToken:"@accessToken",
                itemId:"@itemId"
            };
        }]
        );

    </script>

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
    <script src="/assets/js/vendor/corespring-ng-components/corespring-ng-components.js" type="text/javascript" ></script>

</head>
<body ng-controller="PreviewController">

<div class="sub-nav">
    <div class="container" style="width: 600px;">
        <div class="row">
            <ul class="nav nav-pills">

                <li ng-class="{true: 'active', false:''}[currentPanel=='profile']">
                    <a ng-click="changePanel('profile')">Profile</a>
                </li>

                <li ng-class="{true:'active', false:''}[currentPanel=='item']">
                    <a ng-click="changePanel('item')">Item</a>
                </li>

                <li ng-repeat="sm in itemData.supportingMaterials"
                    ng-class="{true: 'active', false:''}[currentSm==sm]">
                    <a ng-click="changeSupportingMaterialPanel(sm)">{{sm.name}}</a>
                </li>


                <li>
                    <a ng-click="printCurrent()" >
                        <img src="/assets/images/print.png" alt="Print"/></a>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div>

    <div id='itemView' class="preview-container"
            ng-show="currentPanel=='item'" >
            @web.views.html.partials.common.itemTestPreview()
    </div>

    <div id='supportingMaterialView' class="preview-container"
         ng-repeat="sm in itemData.supportingMaterials"
         ng-show="currentSm==sm">
        <iframe
                frameBorder="0"
                ng-src="{{getSmSrc(sm)}}"
                align="center"
                class="iframe-600-centered"></iframe>
    </div>

    <div id='profileView' ng-show="currentPanel=='profile'" class="preview-container" style="overflow-y: auto;" >
        <div class="container" style="width: 600px; margin-bottom: 50px;" >
            @web.views.html.partials._viewItem.corespringData()
            @web.views.html.partials._viewItem.history()
        </div>
    </div>

</div>

</body>
</html>
