@(itemId:String, accessToken : String )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="item-preview">
<head>
    <title>Item Preview</title>
    <meta name="description" content="CoreSpring Content Tagger"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    @head.mathMl()
    @head.coreJs()
    @head.bootstrap()
    @head.angular()
    @head.previewApp()

    <script type="text/javascript">

        angular.module('tagger.services')
                .factory('Config', [ function () {
            return {
                accessToken:"@accessToken",
                itemId:"@itemId"
            };
        }]
        );

    </script>

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
</head>
<body ng-controller="PreviewController">

@mainNav()

<div class="sub-nav">
    <div class="container" style="width: 940px;">
        <div class="row">
            <ul class="span12 nav nav-pills">
                <li ng-class="{true:'active', false:''}[currentPanel=='item']">
                    <a ng-click="changePanel('item')">Item</a>
                </li>

                <li ng-repeat="sm in itemData.supportingMaterials"
                    ng-class="{true: 'active', false:''}[currentSm==sm]">
                    <a ng-click="changeSupportingMaterialPanel(sm)">{{sm.name}}</a>
                </li>

                <li class="span7">&nbsp;</li>

                <li ng-class="{true: 'active', false:''}[currentPanel=='profile']">
                    <a ng-click="changePanel('profile')">Profile</a>
                </li>

                <li>
                    <a ng-click="printCurrent()">
                        <img src="/assets/images/print.png" alt="Print"/></a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="padding-top: 0px;">

    <div
            style="position: absolute; left: 0px; top: 81px; right: 0px; bottom: 0px;"
            ng-show="currentPanel=='item'"
            >
        <iframe frameBorder="0"
                style="width: 100%; height: 100%" ng-show="itemData" ng-src="/web/show-resource/{{itemId}}"> </iframe>
    </div>

    <div
         style="position: absolute; left: 0px; top: 81px; right: 0px; bottom: 0px;"
         ng-repeat="sm in itemData.supportingMaterials"
         ng-show="currentSm==sm">
        <iframe frameBorder="0" ng-src="{{getSmSrc(sm)}}" style="width: 100%; height: 100%;"></iframe>
    </div>

    <div ng-show="currentPanel=='profile'" style="overflow-y: auto; position: absolute; left: 0px; top: 81px; right: 0px; bottom: 0px;" >
        <div class="container" style="width: 940px;" >
            @web.views.html.partials._viewItem.corespringData()
            <hr/>
            <h3>History</h3>
            <hr/>
            @web.views.html.partials._viewItem.history()
        </div>
    </div>

    <!--
    <div class="container" style="padding-top: 81px;">
        <div ng-show="currentPanel=='profile'">
            @web.views.html.partials._viewItem.corespringData()
            <hr/>
            <h3>History</h3>
            <hr/>
            @web.views.html.partials._viewItem.history()
        </div>
    </div>
    -->
</div>

</body>
</html>
