@(form: Form[(String,String)])(implicit flash: Flash)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login | CoreSpring</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>

</head>

<body>

    @mainNav()
    

<!--main contents area starts here -->
<div class="main-wrap">
    <div class="container" style="width: 960px;">


            <div class="well" style="position: relative; top: 100px; width:400px;">

                <h3>Login</h3>
                <br/>
                @helper.form(web.controllers.routes.Main.authenticate) {

                @form.globalError.map { error =>
                <div class="alert alert-error">
                    @error.message
                </div>
                }

                @flash.get("success").map { message =>
                <div class="alert alert-info">
                    @message
                </div>
                }

                <p>
                    <input type="username" name="username" placeholder="username" id="username" value="@form(" username").value">
                </p>
                <p>
                    <input type="password" name="password" id="password" placeholder="password">
                </p>
                <p>
                    <button type="submit" class="btn btn-success" id="loginbutton">Go</button>
                </p>

                }

        </div>
    </div>
</div>

</body>
</html>





