@(templates: List[_root_.web.models.QtiTemplate] = Nil,  username : String = "", root : String = "/web" )
<div class="navbar navbar-fixed-top" ng-controller="MainNavController">
    <div class="navbar-inner" style="padding-bottom: 0px; padding-top:0px;">
        <div class="container">
            <a class="brand" href="@root">
                <img src="/assets/images/cs-white-logo-11px.png"
                                            alt="Corespring"/></a>


            @if( username != "" && username != null){
            <span class="nav">
                <li class="dropdown">
                    <a href="#"
                       data-toggle="dropdown"
                       class="dropdown-toggle">Create Item <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/new">Blank item</a></li>
                        @templates.map{ template =>
                        <li><a href="#/new/@template.code">@template.label</a></li>
                        }
                    </ul>
                </li>
            </span>
                
                <span class="pull-right" style="padding-left: 10px; padding-top: 10px;">hi @username&nbsp;
                    <a class="logout-icon" title="logout" href="@root/logout"><i class="icon-share icon-white"></i></a>
                    <a href="/reports">Reports</a>
                </span>


                <ul id="resultPager" class="nav pull-right" results-pager ng-show="pagerText">
                    <li>
                        <div class="pager">
                            <div class="muted pager-text">{{pagerText}}</div>
                            <div class="progress progress-success progress-striped
                                 active pager-progress-bar" network-progress ng-show="isLoading">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="cs-icon-link" style="float:left;" ng-click="previous()" ng-show="editViewOpen"><i class="icon-white icon-arrow-left"></i></a>
                        <a class="cs-icon-link" style="float:left;" ng-click="next()" ng-show="editViewOpen"><i class="icon-white icon-arrow-right"></i></a>
                    </li>
                </ul>
            }


        </div>
    </div>
</div>
