@(  username : String = "", root : String = "/web" )
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner" style="padding-bottom: 0px; padding-top:0px;">
        <div class="container">
            <a class="brand" href="@root">
                <img src="/assets/images/cs-white-logo-11px.png"
                                            alt="Corespring"/></a>

            @if( username != "" && username != null){
                <span class="pull-right" style="padding-left: 10px; padding-top: 10px;">hi @username&nbsp;
                    <a class="logout-icon" title="logout" href="@root/logout"><i class="icon-share icon-white"></i></a>
                </span>
            }
        </div>
    </div>
</div>
