@(itemId:String, accessToken : String )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="item-preview">
<head>
    <title>Item Profile</title>
    <meta name="description" content="CoreSpring Content Tagger"/>
    @import common.views.html.head._
    @ubuntu()
    @mathMl()
    @coreJs()
    @bootstrap()
    @angular()
    @corespringCommon()
    @head.previewApp()

    <script type="text/javascript">

        angular.module('tagger.services')
                .factory('Config', [ function () {
            return {
                accessToken:"@accessToken",
                itemId:"@itemId"
            };
        }]
        );

    </script>

    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
</head>
<body ng-controller="PreviewController">

<div style="padding-top: 0px;">

            @web.views.html.partials._viewItem.corespringData()
            @web.views.html.partials._viewItem.history()


</div>

</body>
</html>
