@()(implicit assetsLoader:org.corespring.web.common.controllers.deployment.AssetsLoader = org.corespring.web.common.controllers.deployment.AssetsLoaderImpl)

@assetsLoader.tagger

<script type="text/javascript" src="/v2/player/player.js?prodPlayer=false&playerPage=container-player.html"></script>
<script type="text/javascript" src="@org.corespring.player.v1.controllers.launcher.routes.AssetLoading.noSessionPlayerJavascript"></script>
<script type="text/javascript" src="@web.controllers.routes.ShowResource.javascriptRoutes"></script>

