@import 'mixins';

@navbar-height: 48px;
@max-width: 570px;
@min-width: 600px;
@cs-green: #80b312;
@cs-navbar-color: @cs-green;
@cs-dark-grey: #888888;
@cs-blue: #00ACCE;


.grade-level-chooser {
  .chooser {

    width: 145px;

    ul{
      li{
        text-align: left;
        float: left;
        list-style: none;
        height: 23px;
        width: 36px;
        &:last-child{
          clear:both;
          float: right;
        }
      }
    }
  }
}

.filter-nav {
  margin-left: 14px;
  td {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 50px;
  }
  td.nav-vr {
    div {
      height: @navbar-height - 12;
      border-left: solid 1px lighten(@cs-dark-grey, 20%);
    }
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
    width: 1px;
  }
}

.navbar-filter {
  z-index: 1;
  height: 33px;
  padding-bottom: 5px;
  background: url("/assets/images/header-light-grey-br.gif") repeat scroll center top transparent;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

  .btn {
    margin-top: 0px;
  }

}

.navbar-filter-top {
  position: fixed;
  top: 40px;
  padding-top: 10px;
  width: 100%;
}



.multi-select {
  cursor: pointer;
  cursor: hand;
  display: block;

  .multi-title-text,
  .selected-multi-options{
    display: inline-block;
    .mixin-text-non-selectable;
  }

  .multi-title-text {
    font-weight: bold;
    vertical-align: middle;
    font-size: 11px;
    line-height: 12px;
	text-align: center;
    text-transform: uppercase;

    .caret {
      border-top: 4px solid #777777;
      margin-top: 4px;
    }
  }


  .selected-multi-options {
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
  }
}


.multi-select {
  padding: 0px;
  .items {
    margin-left: 0px;
    padding: 0px;
    width: 80px;
    background-color: fadeout(lighten(@cs-green, 50%), 70%);
    button {
      min-width: 80px;
    }
  }

  .chooser {
  	padding: 5px 5px 5px 9px;
    min-width: 160px;
    margin: 2px 0 0;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);



    ul {
      display: block;
      margin: 0px;
      padding: 0px;
    }

    li {
      display: block;
      list-style: none;
      margin: 0px;
      line-height: 24px;

      input {
        margin: 0px;
      }
    }
  }
}

.mixin-caret-base{
  float: left;
  width: 0;
  height: 0;
  vertical-align: top;
  content: "";
  display: inline-block;
}

.mixin-up-caret(@color) {
  .mixin-caret-base;
  border-bottom: 4px solid @color;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.mixin-down-caret(@color) {
  .mixin-caret-base;
  border-top: 4px solid @color;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.mixin-right-caret(@color){
  .mixin-caret-base;
  border-left: 4px solid @color;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  float: none;
  margin-top: 2px;
  margin-left: 2px;
}

.caret-right{

  .mixin-right-caret(#777777);
}

.chooser {
    a{

      float: right;
      display: block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 2px 5px;
      font-size: 11px;
      line-height: 16px;
      color: #333;
      background-color: #fff;
      border-color: #ccc;
      &:hover{
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
        text-decoration: none;
      }
    }
}
