@import 'mixins';

@navbar-height: 45px;
@max-width: 600px;
@cs-green: #80b312;
@cs-navbar-color: @cs-green;
@cs-dark-grey: #888888;

body {
  background-color: #ffffff;
}

td.small-title {
  font-size: 12px;
}

.table-content,
.table-header {
  table {
    max-width: @max-width;

    th{
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.table-header {
/*position: fixed;*/
  z-index: 10004;
  background-color: #ffffff;
  max-width: @max-width;
  top: @navbar-height;
  .mixin-box-shadow( 6px );
}

.table-content {
  position: relative;
  padding-top: 0px;
  top: 0px;
  height: 100%;
  overflow-y: scroll;

  tr {
    &:hover {
      background-color: lighten(@cs-navbar-color, 20%);
    }
  }
  tr.even {
    background-color: lighten(@cs-navbar-color, 50%);
    &:hover {
      background-color: lighten(@cs-navbar-color, 20%);
    }
  }
}

th, td {
  padding: 5px;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
}
td.nav-title{
  /*text-align: right;*/
  color: @cs-dark-grey;
}

td.nav-vr{

  div{
    height: @navbar-height - 15;
    border-left: solid 1px lighten(@cs-dark-grey, 20%);
  }
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  width: 1px;
}

.local-fix-width(@w) {
  min-width: @w;
  width: @w;
  div {
    width: @w;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

th.primary-subject,
td.primary-subject {
  .local-fix-width(80px);
}

td.grade,
th.grade {
  .local-fix-width(40px);
}

th.ccss,
td.ccss {
  .local-fix-width(50px);
}

th.type,
td.type {
  .local-fix-width(40px);
}

th.source,
td.source {

  min-width: 40px;
  width: 40px;
  max-width: 40px;
}

.title-holder {
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th.title,
td.title {
  max-width: 300px;
  width: 300px;
}

.row {
  img {
    float: left;
  }
}

.main-content-holder {
  width: @max-width;
  margin: 0 auto;
}

.main-content {
  background-color: #ffffff;
  height: 100%;
  top: @navbar-height + 5;
  position: fixed;
  .sub-nav-bar {
    background-color: lighten(@cs-navbar-color, 20%);
    .mixin-box-shadow;
    .mixin-bg-gradient( lighten(@cs-navbar-color, 10%), lighten(@cs-navbar-color, 5%));
    height: 30px;

    .nav-pills {
      li.active {
        a {
          background-color: darken(@cs-navbar-color, 20%);
        }
      }

      li {
        a {
          font-size: 13px;
          background-color: lighten(@cs-navbar-color, 20%);
          &:hover {
            background-color: darken(@cs-navbar-color, 20%);
          }
        }
      }
    }

  }

  .view-item-container {
    width: 600px;
    height: 100%;
  }
/*
position:relative;
*/
  width: @max-width;
  margin: 0 auto;

  .start-pod,
  .has-item-pod {
    padding: 10px;
  }

  .item-list {
    max-width: @max-width;
  }
}

.item-count {
  float: right;
  margin-top: 5px;
  color: #ffffff;
}

.no-items-info-pane {
  padding-top: 20px;
  height: 100%;
  background-image: url('/assets/images/corespring-faded-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  .info-well {
    text-align: center;
    color: darken(@cs-green, 4%);
    font-weight: bold;
    .info-icon {
      margin: 0 auto;
      height: 42px;
      width: 42px;
      padding-bottom: 20px;
      background: url("/assets/images/info-icon-37x37.png") no-repeat scroll 3px center transparent;
    }
  }
}

.navbar {
  height: @navbar-height;
  padding-bottom: 5px;
  background-color: darken(@cs-navbar-color, 20%);
  .mixin-diagonal-stripes(-45deg, rgb(235,235,235), 10px, 0.2);


  .header{
    margin: 0 auto;
    max-width: @max-width;
  }

  .navbar-bottom {
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    .mixin-diagonal-stripes(45deg, @cs-green, 10px, 0.2);
  }
  .mixin-box-shadow;

  .container {
    max-width: @max-width;
    margin: 0 auto;
    padding-top: 4px;

    input, select {
      margin-left: 10px;
    }
  }

  .search-input {
    height: 30px;
  }
}

.pager-holder {
  a {
    color: lighten(@cs-navbar-color, 40%);
  }
}

.pager {
  margin-top: 0px;
  padding-top: 0px;
  .pager-text {
    color: darken(@cs-navbar-color, 30%);
  }
}

#resultPager {
}

#resultPager:after {
  clear: both;
}

a.cs-icon-link {
  float: none;
  background-color: darken(@cs-navbar-color, 10%);
  margin: 2px;
  padding: 3px;
  border-radius: 14px;
  padding-right: 6px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 11px;
  padding-left: 3px;
  padding-top: 2px;
  &:hover {
    .mixin-inner-shadow( 2px, fade( @cs-dark-grey, 15%));
    background-color: darken(@cs-navbar-color, 20%);
  }
}

.view-item-loading {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
}

.admin-container {
  width: 560px;
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
  display: block;
}

.admin-container::before, .admin-container::after {
  display: table;
  line-height: 0;
  content: "";
}

.admin-container::after {
  clear: both;
}

.lti-iframe-preview {
  width: @max-width;
  height: 100%;
}

.multi-select {
  padding: 0px;
  .items {
    margin-left: 0px;
    padding: 0px;
    background-color: fadeout(lighten(@cs-green, 50%), 70%);
  }

  .chooser {
    background: lighten(@cs-green, 50%);

    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    ul {
      display: block;
      margin: 0px;
      padding: 0px;
    }

    li {
      display: block;
      max-width: 200px;
      list-style: none;
      margin: 0px;

      input{
        margin: 0px;
      }
    }
  }
}
