@import 'mixins';

@navbar-height: 39px;
@max-width: 600px;
@cs-green: #80b312;
@cs-navbar-color: @cs-green;
@cs-dark-grey: #888888;

body {
  background-color: #ffffff;
}

td.small-title {
  font-size: 12px;
}

.table-content,
.table-header {
  table {
    max-width: @max-width;
  }
}

.table-header {
/*position: fixed;*/
  z-index: 10004;
  background-color: #ffffff;
  max-width: @max-width;
  top: @navbar-height;
  .mixin-box-shadow( 6px );
}

.table-content {
  position: relative;
  padding-top: 0px;
  top: 0px;
  height: 100%;
  overflow-y: scroll;

  tr {
    &:hover {
      background-color: lighten(@cs-navbar-color, 20%);
    }
  }
  tr.even {
    background-color: lighten(@cs-navbar-color, 50%);
    &:hover {
      background-color: lighten(@cs-navbar-color, 20%);
    }
  }
}

th, td {
  padding: 5px;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
}


.local-fix-width(@w){
  min-width: @w;
  width: @w;
  div{
    width: @w;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

th.primary-subject,
td.primary-subject{
  .local-fix-width(80px);
}

td.grade,
th.grade{
  .local-fix-width(40px);
}

th.ccss,
td.ccss{
  .local-fix-width(50px);
}

th.type,
td.type{
  .local-fix-width(40px);
}

th.source,
td.source {

  min-width: 40px;
  width: 40px;
  max-width: 40px;
}

.title-holder {
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th.title,
td.title {
  max-width: 300px;
  width: 300px;
}

.row {
  img {
    float: left;
  }
}

.main-content-holder {
  width: @max-width;
  margin: 0 auto;
}

.main-content {
  background-color: #ffffff;
  height: 100%;
  top: @navbar-height;
  position: fixed;
  .sub-nav-bar {
    background-color: lighten(@cs-navbar-color, 20%);
    .mixin-box-shadow;
    .mixin-bg-gradient( lighten(@cs-navbar-color, 10%), lighten(@cs-navbar-color, 5%));
    height: 30px;

    .nav-pills {
      li.active {
        a {
          background-color: darken(@cs-navbar-color, 20%);
        }
      }

      li {
        a {
          font-size: 13px;
          background-color: lighten(@cs-navbar-color, 20%);
          &:hover {
            background-color: darken(@cs-navbar-color, 20%);
          }
        }
      }
    }

    .view-item-container {
      width: 600px;
      height: 100%;
    }

  }
/*
position:relative;
*/
  width: @max-width;
  margin: 0 auto;

  .start-pod,
  .has-item-pod {
    padding: 10px;
  }

  .item-list {
    max-width: @max-width;
  }
}

.navbar {
  height: @navbar-height;
  background-color: darken(@cs-navbar-color, 20%);
  .mixin-bg-carbon(4px, darken(@cs-navbar-color, 20%));
  .mixin-box-shadow;

  .container {
    max-width: @max-width;
    margin: 0 auto;
    padding-top: 4px;

    input, select {
      margin-left: 10px;
    }
  }

  .search-input {
    height: 30px;
  }
}
.pager-holder{
  a{
    color: lighten(@cs-navbar-color, 40%);
  }
}

.pager {
  margin-top: 0px;
  padding-top: 0px;
  .pager-text {
    color: lighten(@cs-navbar-color, 30%);
  }
}

#resultPager {
}

#resultPager:after {
  clear: both;
}

a.cs-icon-link {
  float: none;
  background-color: darken(@cs-navbar-color, 10%);
  margin: 2px;
  padding: 3px;
  border-radius: 14px;
  padding-right: 6px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 11px;
  padding-left: 3px;
  padding-top: 2px;
  &:hover {
    .mixin-inner-shadow( 2px, fade( @cs-dark-grey, 15%));
    background-color: darken(@cs-navbar-color, 20%);
  }
}

.view-item-loading{
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
}

