<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

@org.corespring.web.publicsite.head.html.googleAnalytics()
@org.corespring.web.publicsite.head.html.ieShim()
@org.corespring.web.common.views.html.head.coreJs()
@org.corespring.web.common.views.html.head.ubuntu()
@org.corespring.web.common.views.html.head.bootstrap()
@org.corespring.web.common.views.html.head.angular()
@org.corespring.web.common.views.html.head.mathMl()
@org.corespring.web.common.views.html.head.version()
@org.corespring.web.common.views.html.head.es5Shims()

<script src="/assets/js/corespring/tagger/services.js"></script>
<script src="/assets/js/corespring/tagger/services/ServiceLookup.js"></script>

<script src="/assets/js/corespring/tagger/mongo/MongoQuery.js"></script>
<script src="/assets/public/js/angular/items-app.js"></script>
<script src="/assets/public/js/angular/items.js"></script>

<script src="@org.corespring.player.v1.controllers.launcher.routes.AssetLoading.noSessionPlayerJavascript"></script>

<link href="/assets/public/css/bootstrap-overrides.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/stylesheets/public-educators.css" rel="stylesheet"/>
<link href="/assets/public/css/educators.css" rel="stylesheet" type="text/css" media="all" />
