@(itemId: String, itemBody: String, previewEnabled : Boolean = true, sessionId:String = "", token : String = "", additionalScripts: Html, bodyAttributes:String)

@cssClass = @{
    if(previewEnabled) "assessment-page" else "student-assessment-page"
}
<!DOCTYPE html>
<html ng-app="qti">
<head>
    <title>@itemId</title>
    @common.views.html.partials.ieEightSupport()
    @partials.scripts(itemBody)

    <script type="text/javascript">
        angular.module('qti.services').factory('Config', [function(){
            return {
                itemId : "@itemId",
                sessionId : "@sessionId",
                token : "@token"
            }
        }]);
    </script>

    @additionalScripts
    <!--
    <script src="/assets/js/corespring/qti/controllers/QtiAppController.js"></script>
    -->


</head>
<body >

    @if( previewEnabled ){

        @partials.controlBar()

        <div class="student-view-header" ng-class="{true: 'fade-out', false: ''}[settingsHaveChanged]">Student View</div>
    } else {
        <br/>
    }

    <div class="@cssClass" ng-class="{true: 'fade-out', false: ''}[settingsHaveChanged]">
        @Html(itemBody)
    </div>
</body>
</html>