@(controllers: Seq[String] = Seq("MainNavController",
  "CreateController",
  "HomeController",
  "ItemController",
  "ViewItemController",
  "SupportingMaterialsController",
  "ResourceEditor"))

@controller(name: String) = @{
  "<script src='/assets/js/corespring/tagger/controllers/" + name + ".js'></script>"
}

<script src="/assets/js/corespring/tagger/select2/Select2Adapter.js"></script>
<script src="/assets/js/corespring/tagger/mongo/MongoQuery.js"></script>

<script src="/assets/js/corespring/tagger/app.js"></script>
<script src="/assets/js/corespring/tagger/directives/buttonToggle.js"></script>
<script src="/assets/js/corespring/tagger/directives/networkProgress.js"></script>
<script src="/assets/js/corespring/tagger/directives/sortColumnHeader.js"></script>
<script src="/assets/js/corespring/tagger/services.js"></script>
<script src="/assets/js/corespring/tagger/services/Collection.js"></script>
<script src="/assets/js/corespring/tagger/services/Contributor.js"></script>
<script src="/assets/js/corespring/tagger/services/ServiceLookup.js"></script>
<script src="/assets/js/corespring/tagger/services/ItemDataProcessor.js"></script>
<script src="/assets/js/corespring/tagger/services/ItemService.js"></script>
<script src="/assets/js/corespring/tagger/services/SearchService.js"></script>
  <!-- controllers -->
  @controllers.map { c =>
    @Html(controller(c))
  }

  <script type="text/javascript" src="@web.controllers.routes.ShowResource.javascriptRoutes"></script>

