
<script src="/assets/js/corespring/tagger/select2/Select2Adapter.js"></script>
<script src="/assets/js/corespring/tagger/utils/ArrayUtils.js" type="text/javascript"></script>
<script src="/assets/js/corespring/tagger/mongo/MongoQuery.js"></script>

<script src="/assets/js/corespring/tagger/app.js"></script>
<script src="/assets/js/corespring/tagger/services/services-declaration.js"></script>
<script src="/assets/js/corespring/tagger/services.js"></script>
<script src="/assets/js/corespring/tagger/services/ServiceLookup.js"></script>
<script src="/assets/js/corespring/tagger/services/ItemDataProcessor.js"></script>
<script src="/assets/js/corespring/tagger/services/ItemService.js"></script>

<script src="/assets/js/corespring/tagger/controllers/HomeController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/EditController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/ItemController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/ViewItemController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/CreateController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/CollectionsController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/SupportingMaterialsController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/ResourceEditor.js"></script>

<script src="/assets/js/corespring/tagger/filters.js"></script>
<script src="/assets/js/corespring/tagger/directives.js"></script>

