<script src="/assets/js/corespring/tagger/select2/Select2Adapter.js"></script>
<script src="/assets/js/corespring/tagger/mongo/MongoQuery.js"></script>

<script src="/assets/js/corespring/tagger/app.js"></script>
<script src="/assets/js/corespring/tagger/directives/buttonToggle.js"></script>
<script src="/assets/js/corespring/tagger/services.js"></script>
<script src="/assets/js/corespring/tagger/services/Collection.js"></script>
<script src="/assets/js/corespring/tagger/services/ServiceLookup.js"></script>
<script src="/assets/js/corespring/tagger/services/ItemDataProcessor.js"></script>
<script src="/assets/js/corespring/tagger/services/ItemService.js"></script>

<script src="/assets/js/corespring/tagger/controllers/CreateController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/HomeController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/ItemController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/ViewItemController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/SupportingMaterialsController.js"></script>
<script src="/assets/js/corespring/tagger/controllers/ResourceEditor.js"></script>

