<div ng-show="isSearching" class="view-item-loading">
    <div id="spinner"></div>
</div>

<script type="text/javascript">
  var opts = {
  color: '#444', // #rgb or #rrggbb
  top: '150px'
  };
  var target = document.getElementById('spinner');
  var spinner = new Spinner(opts).spin(target);
</script>

<div ng-show="!isSearching">

<div ng-show="!items" class="no-items-info-pane">
   <br/>
  <div class="info-well">
    <div class="info-icon"></div>
    Select a collection and/or grade to find Items for assignments
  </div>
</div>

<div class="table-header" ng-show="items">
  <table class="fixed" border="0">
    <tr>
      <th class="primary-subject"
          ng-click="predicate = 'primarySubject.category'; reverse=!reverse">
          <div ng-class="selectColumn('primarySubject.category')">Subject</div>
      </th>
      <th class="ccss" ng-click="predicate = 'standards'; reverse=!reverse">
          <div ng-class="selectColumn('standards')">CCSS</div>
      </th>
      <th class="title"><div class="title-holder">Title</div></th>

      <th class="grade" ng-click="predicate = 'gradeLevel'; reverse=!reverse">
          <div ng-class="selectColumn('gradeLevel')" >Grade</div>
      </th>

        <th class="type" ng-click="predicate = 'itemType'; reverse=!reverse">
            <div ng-class="selectColumn('itemType')" >Type</div>
        </th>
      <th class="source">Source</th>
    </tr>
  </table>
</div>
<div class="table-content" ng-show="items">
    <div class="inner" when-scrolled="loadMore()" scrolled-mode="div">

  <table class="fixed" border="0">
    <tr ng-click="selectItem(i)" ng-repeat="i in items | orderBy:predicate:reverse" ng-class="{even: $index % 2 == 0}">
      <td class="primary-subject"><div title="{{getPrimarySubjectLabel(i.primarySubject)}}">{{getShortSubjectLabel(i.primarySubject)}}</div></td>
      <td class="ccss">
        <div>
        <a ui-jq="tooltip"
          ui-options="{title: buildStandardTooltip(i.standards)}">
        {{buildStandardLabel(i.standards)}}
      </a>
      </div>
      </td>
      <td class="title"><div class="title-holder" ui-jq="tooltip" ui-options="{title:i.title}" ng-bind-html-unsafe="i.title"></div></td>
      <td class="grade"><div title="{{createGradeLevelString(i.gradeLevel)}}">{{createGradeLevelString(i.gradeLevel)}}</div></td>
      <td class="type"><div title="{{showItemType(i)}}">{{showItemTypeAbbreviated(i)}}</div></td>
      <td class="source"><div class="title-holder" style="margin-left: 0px;" ui-jq="tooltip" ui-options="{title:i.author}">{{getAuthorAbbreviation(i.author)}}</div></td>
    </tr>
  </table>
    </div>
</div>
</div>
