<div ng-show="isSearching" class="view-item-loading">
    <div id="spinner"></div>
</div>

<script type="text/javascript">
  var opts = {
  color: '#444', // #rgb or #rrggbb
  top: '150px'
  };
  var target = document.getElementById('spinner');
  var spinner = new Spinner(opts).spin(target);
</script>

<div ng-show="!isSearching">

<div ng-show="!items" class="no-items-info-pane">
   <br/>
  <div class="info-well">
    <div class="info-icon"></div>
    Select a collection and/or grade to find Items for assignments
  </div>
</div>

<div class="table-header" ng-show="items">
  <table border="0">
    <tr>
      <th class="primary-subject"><div>Primary Subject</div></th>
      <th class="ccss">CCSS</th>
      <th class="title"><div class="title-holder">Title</div></th>
      <th class="grade">Grade</th>
      <th class="type">Type</th>
      <th class="source">Source</th>
    </tr>
  </table>
</div>
<div class="table-content" ng-show="items">
  <table border="0">
    <tr ng-click="selectItem(i)" ng-repeat="i in items" ng-class="{even: $index % 2 == 0}">
      <td class="primary-subject"><div title="{{getPrimarySubjectLabel(i.primarySubject)}}">{{getPrimarySubjectLabel(i.primarySubject)}}</div></td>
      <td class="ccss">
        <div>
        <a ui-jq="tooltip"
          ui-options="{title: buildStandardTooltip(i.standards)}">
        {{buildStandardLabel(i.standards)}}
      </a>
      </div>
      </td>
      <td class="title"><div class="title-holder" title="{{i.title}}" ng-bind-html-unsafe="i.title"></div></td>
      <td class="grade"><div title="{{createGradeLevelString(i.gradeLevel)}}">{{createGradeLevelString(i.gradeLevel)}}</div></td>
      <td class="type"><div title="{{showItemType(i)}}">{{showItemTypeAbbreviated(i)}}</div></td>
      <td class="source">{{i.source}}</td>
    </tr>
  </table>
</div>
</div>
