<div class="view-item-loading" ng-show="!item">
    <div id="spinner"></div>
</div>

<script type="text/javascript">
    var opts = {
        color: '#444', // #rgb or #rrggbb
        top: '150px'
    };
    var target = document.getElementById('spinner');
    var spinner = new Spinner(opts).spin(target);
</script>

<div class="sub-nav-bar" ng-show="item">
    <div class="contents">

        <ul class="span6 nav nav-tabs">
            <li ng-class="{true:'active', false:''}[currentPanel=='profile']">
                <a href="javascript:void(1)"
                   ng-click="changePanel('profile')">Profile</a>
            </li>

            <li ng-class="{true:'active', false:''}[currentPanel=='preview']">
                <a href="javascript:void(1)"
                   ng-click="changePanel('preview')">Preview</a>
            </li>

            <li ng-repeat="sm in item.supportingMaterials"
                ng-class="{true: 'active', false:''}[currentSm==sm]">
                <a ng-click="changeSupportingMaterialPanel(sm)">{{sm.name}}</a>
            </li>
        </ul>

        <button
                ng-show="isAssigned()"
                ui-jq="tooltip"
                ui-options="{title: getRemoveTooltip()}"
                class="btn pull-right btn-mini btn-primary"
                style="margin-right: 5px; margin-top: 2px;"
                ng-click="remove()">Unassign
        </button>

        <button
                ng-show="!isAssigned()"
                class="btn pull-right btn-mini btn-primary"
                style="margin-right: 5px; margin-top: 2px;"
                ng-click="assign()">Assign
        </button>
    </div>
</div>
<div class="view-item-container" ng-show="item">

    <div ng-show="currentPanel == 'preview'" class="lti-iframe-holder">

      <iframe
              id="previewIframe"
              frameBorder="0"
              ng-show="item"
              class="lti-iframe-preview"
              ng-src="{{previewItemUrl}}"></iframe>
    </div>

    <div class="profile-holder" ng-show="currentPanel == 'profile'">
      @web.views.html.partials._viewItem.corespringData("item")
      @web.views.html.partials._viewItem.history("item")
    </div>

    <div id='supportingMaterialView'
         class="lti-iframe-holder"
         ng-repeat="sm in item.supportingMaterials"
         ng-show="currentSm==sm">
        <iframe
                frameBorder="0"
                class="lti-iframe-preview"
                ng-src="{{getSmSrc(sm)}}"
                align="center"
                class="iframe-preview"></iframe>
    </div>

</div>

